@import './abstract/variables';
@import './utils/animations';
@import './components/lazy-image';
@import './components/fonts';
@import './components/button';
@import './components/titles';
@import './components/links';
@import './components/icons';
@import './components/header';
@import './components/footer';
@import './components/purchases';
@import './components/payment-list';
@import './layout/update';
@import './layout/containers';
@import './layout/manage';
@import './layout/content';
@import './layout/store';
@import './3d/base';

img {
  max-width: 100%;
}

$text-color: #FBFBFB;

.text--light {
  color: $text-color;
  fill: $text-color;
}

.bg {
  &--dark {
    background-color: #030200;
    color: $text-color;
    fill: $text-color;
  }

  &--light {
    background-color: #E5E5E5;
    color: #222;
  }
}

.section--full {
  height: 100vh;
}

.installation {
  padding-top: 8rem;
  padding-bottom: 8rem;
  @media screen and (max-width : 768px) {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  &__content {
    margin-bottom: 6rem;
    @media screen and (max-width : 768px) {
      margin-bottom: 2rem;
    }
  }
  &__title {
    margin: 2rem 0;
    @media screen and (max-width : 768px) {
      margin: 0 0 2rem 0;
    }
  }
  &__text {
    margin-bottom: 0;
    max-width: 20em;
    margin: auto;
    @media screen and (max-width : 768px) {
      max-width: 17em;
      margin: auto;
    }
  }
  &__promo {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }
}

@keyframes progressTrans {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 500px;
  }
}

$progress-height: 4px;
$progress-border-rad: $progress-height / 2;
$progress-fill-width: 100%;

$progress-fill-color-1: rgba(63,251,123,1);
$progress-fill-color-2: rgba(70,252,232,1);

.progress__bar {
  position: relative;
  width: 75%;
  height: $progress-height;
  max-width: 768px;
  background-color: #333;
  margin: 2rem auto 1rem auto;
  border-radius: $progress-border-rad;
  opacity: 0.85;
  &__fill {
      position: absolute;
    left: 0;
    top: 0;
    width: $progress-fill-width;
    border-radius: $progress-border-rad;
    background: $progress-fill-color-1;
    background: linear-gradient(90deg, $progress-fill-color-1 0%, $progress-fill-color-2 66%, $progress-fill-color-1 100%);
    height: 100%;
    box-shadow:
      0 0 50px $progress-fill-color-1,
      10px 0 80px $progress-fill-color-2;
    will-change: backgound;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-name: progressTrans;
    animation-iteration-count: infinite;
  }

  &__wrapper {

  }

  &__text {
    font-size: 0.75rem;
  }
}

.scene {
  transform: rotateX(36deg) rotateZ(-33deg);
  transform-style: preserve-3d;
}

.tile__wrapper {
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

.object {
  transform-style: preserve-3d;
  // opacity: 1;
}

.mesh {
  transform-style: preserve-3d;
  opacity: 0;
}

div[class^="face"] {
  border-radius: .5rem;
  overflow: hidden;
}

.face-front {
  transform-style: preserve-3d;
}

.face-bottom {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(-10px);
  width: 100%;
  height: 100%;
  img {
    display: none;
  }

  background-color: #111;
  background-image: linear-gradient(139deg, #111 49%, #333 50%, #111 51%);

}

$shadow-offset: 50px;
$shadow-color: #000;

.shadow {
  position: absolute;
  top: $shadow-offset;
  bottom: $shadow-offset;
  left: $shadow-offset;
  right: $shadow-offset;
  opacity: 0;
  background-color: $shadow-color;
  box-shadow:
    0 0 30px $shadow-offset $shadow-color !important;
}
