@import 'components/fonts';
@import 'layout/containers';
@import 'components/logos';
@import 'components/trailer';
@import 'components/pagination';
@import 'components/preview';
@import 'components/preview-big';
@import 'components/header';
@import 'components/footer';
@import 'components/compatible-software';
@import 'components/tech-spec';
@import 'components/lazy-image';
@import 'components/image-background';
@import 'components/minstaller';
@import 'animations/page';

$text-margin: 2rem;

.mlut-mosaic {
  h3 {
    font-weight: 400;
    font-family: 'Lora', serif;
    font-size: 46px;
    margin-bottom: $text-margin;
  }
  p {
    font-weight: 300;
    margin-bottom: $text-margin;
  }

  $column-padding-horizontal: 2rem;

  // div[class^="col"] {
  //   padding-top: $column-padding-horizontal;
  //   padding-bottom: $column-padding-horizontal;
  // }
}

$underlay-offset: 100px;
$underlay-color: #fbfbfb;

.mosaic {
  &-paragraph {
    &--offset {
      &-right {
        padding-left: $text-margin * 3.5;
      }
    }
  }
  &-item {
    &-wrapper {
      position: relative;
      &--underlay {
        &::before {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: $underlay-color;
          z-index: -1;
          bottom: -$underlay-offset;
          left: -$underlay-offset;
          content: '';
        }
      }
      &--small {
        width: 35vw;
      }
    }
  }
}
