/*-----*/
.mLUT-film-three {
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  /*  Trailer */
  /*  Prevs */
  /*  Prevs */
  /*  Footer */
}

.mLUT-film-three section.header {
  width: 100%;
  height: 100vh;
  max-height: 1440px;
  background: #19161a url("../images/header_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.mLUT-film-three section.header .container {
  height: 100%;
  padding: 2rem;
  position: relative;
}

.mLUT-film-three section.header .container .header-box {
  width: 90%;
  position: absolute;
  top: 51%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  text-align: center;
}

.mLUT-film-three section.header .container .header-box .mlut-logo {
  max-width: 440px;
  margin: 0 auto;
}

.mLUT-film-three section.header .container .header-box .mlut-logo img {
  width: 100%;
}

.mLUT-film-three section.header .container .header-box h1 {
  color: #fff;
  font-size: 1.4rem;
  padding-top: 2rem;
  letter-spacing: 1px;
}

.gradient {
  width: 100%;
  height: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#2f777a), color-stop(#60ad9d), color-stop(#97b82e), color-stop(#f2dc2d), color-stop(#e19e2f), to(#d03535));
  background: linear-gradient(to right, #2f777a, #60ad9d, #97b82e, #f2dc2d, #e19e2f, #d03535);
}

.mLUT-film-three section.logos {
  background-color: #f9f9f9;
}

.mLUT-film-three section.logos h2 {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.logos h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.logos h2 {
    font-size: 1rem;
  }
}

.mLUT-film-three section.logos .logos-images {
  margin: 0 auto;
  padding-bottom: 3rem;
}

.mLUT-film-three section.logos .logos-images .logos-desktop {
  max-width: 860px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.mLUT-film-three section.logos .logos-images .logos-mobile {
  display: none;
}

.mLUT-film-three section.logos .logos-images img {
  width: 100%;
}

@media all and (max-width: 720px) {
  .mLUT-film-three {
    /* 720 END */
  }
  .mLUT-film-three section.logos .logos-images {
    padding-bottom: 2rem;
  }
  .mLUT-film-three section.logos .logos-images .logos-desktop {
    display: none;
  }
  .mLUT-film-three section.logos .logos-images .logos-mobile {
    display: block;
    max-width: 860px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.mLUT-film-three section.trailer .container {
  max-width: 1700px;
  padding-left: 4rem;
  padding-right: 4rem;
}

.mLUT-film-three section.trailer .container h2 {
  padding-top: 7rem;
  padding-bottom: 1rem;
  color: #000;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3rem;
  font-family: 'Lora', serif;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.trailer .container h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.trailer .container h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.mLUT-film-three section.trailer .container h3 {
  color: #000;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  padding-bottom: 5rem;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.trailer .container h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.trailer .container h3 {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.mLUT-film-three section.trailer .container .text-box {
  max-width: 630px;
}

.mLUT-film-three section.trailer .container .text-box h2 {
  text-align: left;
}

.mLUT-film-three section.trailer .container .text-box p {
  color: #000;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 2rem;
  padding-left: 7rem;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.trailer .container .text-box p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.trailer .container .text-box p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media all and (max-width: 1920px) {
  .mLUT-film-three section.trailer {
    padding-bottom: 8rem;
  }
  .mLUT-film-three section.trailer .container {
    max-width: 1700px;
  }
}

@media all and (max-width: 1680px) {
  .mLUT-film-three section.trailer .container {
    max-width: 1700px;
  }
  .mLUT-film-three section.trailer .container h2 {
    padding-top: 8rem;
  }
}

@media all and (max-width: 1600px) {
  /* .mLUT-film-three section.trailer {
    height: 1900px;
  } */
  .mLUT-film-three section.trailer .container {
    max-width: 1700px;
  }
  .mLUT-film-three section.trailer .container h2 {
    padding-top: 8rem;
  }
}

@media all and (max-width: 1440px) {
  .mLUT-film-three section.trailer {
    /* height: 1800px; */
  }
  .mLUT-film-three section.trailer .container h2 {
    padding-top: 4rem;
  }
}

@media all and (max-width: 1360px) {
  .mLUT-film-three section.trailer {
    padding-bottom: 0;
  }
  .mLUT-film-three section.trailer .container .text-box {
    max-width: 580px;
  }
  .mLUT-film-three section.trailer .container .text-box h2 {
    text-align: left;
  }
  .mLUT-film-three section.trailer .container .text-box p {
    color: #000;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 2rem;
    padding-left: 5rem;
  }
}

@media all and (max-width: 1360px) and (max-width: 1440px) {
  .mLUT-film-three section.trailer .container .text-box p {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 1360px) and (max-width: 768px) {
  .mLUT-film-three section.trailer .container .text-box p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media all and (max-width: 1280px) {
  .mLUT-film-three section.trailer {
    /* height: 1760px; */
  }
  .mLUT-film-three section.trailer .container {
    padding: 2rem;
  }
  .mLUT-film-three section.trailer .container h2 {
    padding-top: 4rem;
  }
  .mLUT-film-three section.trailer .container .text-box {
    max-width: 500px;
  }
  .mLUT-film-three section.trailer .container .text-box h2 {
    padding-top: 2rem;
    text-align: left;
  }
  .mLUT-film-three section.trailer .container .text-box p {
    color: #000;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 2rem;
    padding-left: 2srem;
  }
}

@media all and (max-width: 1280px) and (max-width: 1440px) {
  .mLUT-film-three section.trailer .container .text-box p {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 1280px) and (max-width: 768px) {
  .mLUT-film-three section.trailer .container .text-box p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media all and (max-width: 1024px) {
  /* .mLUT-film-three section.trailer {
    height: 1560px;
    padding-bottom: 2rem;
    background: #19161a url("https://s3.motionvfx.com/mvfxpublic/products/templates/1311/media/trailer_bg_mobile.jpg");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
  } */
  .mLUT-film-three section.trailer .container {
    max-width: 1700px;
  }
  .mLUT-film-three section.trailer .container h2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #000;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3rem;
    font-family: 'Lora', serif;
    margin: 0 auto;
    text-align: center;
  }
}

@media all and (max-width: 1024px) and (max-width: 1440px) {
  .mLUT-film-three section.trailer .container h2 {
    font-size: 2.2rem;
  }
}

@media all and (max-width: 1024px) and (max-width: 768px) {
  .mLUT-film-three section.trailer .container h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@media all and (max-width: 768px) {
  .mLUT-film-three section.trailer {
    height: 1450px;
  }
  .mLUT-film-three section.trailer .container {
    max-width: 1700px;
    padding-left: 0rem;
    padding-right: 0rem;
    padding: 2rem;
  }
  .mLUT-film-three section.trailer .container h2 {
    padding-top: 7rem;
    padding-bottom: 1rem;
    color: #000;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3rem;
    font-family: 'Lora', serif;
    margin: 0 auto;
    text-align: center;
  }
}

@media all and (max-width: 768px) and (max-width: 1440px) {
  .mLUT-film-three section.trailer .container h2 {
    font-size: 2.2rem;
  }
}

@media all and (max-width: 768px) and (max-width: 768px) {
  .mLUT-film-three section.trailer .container h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@media all and (max-width: 768px) {
  .mLUT-film-three section.trailer .container h3 {
    color: #000;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 5rem;
    margin: 0 auto;
    text-align: center;
  }
}

@media all and (max-width: 768px) and (max-width: 1440px) {
  .mLUT-film-three section.trailer .container h3 {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 768px) and (max-width: 768px) {
  .mLUT-film-three section.trailer .container h3 {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media all and (max-width: 768px) {
  .mLUT-film-three section.trailer .container .text-box {
    max-width: 400px;
  }
  .mLUT-film-three section.trailer .container .text-box h2 {
    text-align: left;
  }
  .mLUT-film-three section.trailer .container .text-box p {
    color: #000;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 2rem;
    padding-left: 0rem;
  }
}

@media all and (max-width: 768px) and (max-width: 1440px) {
  .mLUT-film-three section.trailer .container .text-box p {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 768px) and (max-width: 768px) {
  .mLUT-film-three section.trailer .container .text-box p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media all and (max-width: 680px) {
  .mLUT-film-three section.trailer {
    height: 1250px;
  }
  .mLUT-film-three section.trailer .container h2 {
    padding-top: 2rem;
  }
  .mLUT-film-three section.trailer .container .text-box h2 {
    padding-top: 0;
  }
}

@media all and (max-width: 589px) {
  .mLUT-film-three section.trailer {
    /* height: 1180px; */
    /* background: #19161a url("https://s3.motionvfx.com/mvfxpublic/products/templates/1311/media/trailer_bg_mobile_3.jpg"); */
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mLUT-film-three section.trailer .container h2 {
    padding-top: 2rem;
  }
  .mLUT-film-three section.trailer .container .text-box h2 {
    padding-top: 0;
  }
}

.mLUT-film-three section.image-slider {
  background-color: #fff;
  max-width: 100%;
  height: 1250px;
  margin: 0 auto;
  position: relative;
}

.mLUT-film-three section.image-slider .container-fluid {
  max-width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding-left: 0;
}

.mLUT-film-three section.image-slider .container-fluid .arrow-left {
  height: 30px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  border-radius: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  left: 2rem;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.mLUT-film-three section.image-slider .container-fluid .arrow-left:hover {
  opacity: 0.3;
}

.mLUT-film-three section.image-slider .container-fluid .arrow-left img {
  width: 6px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: -5px 11px auto;
  z-index: 4;
}

.mLUT-film-three section.image-slider .container-fluid .arrow-left a {
  height: 100%;
  width: 100%;
  display: block;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.mLUT-film-three section.image-slider .container-fluid .arrow-left a:hover {
  opacity: 0.5;
  cursor: pointer;
}

.mLUT-film-three section.image-slider .container-fluid .arrow-right {
  height: 30px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  border-radius: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  right: 2rem;
  display: block;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.mLUT-film-three section.image-slider .container-fluid .arrow-right:hover {
  opacity: 0.3;
}

.mLUT-film-three section.image-slider .container-fluid .arrow-right img {
  width: 6px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: -5px 13px auto;
  z-index: 4;
}

.mLUT-film-three section.image-slider .container-fluid .arrow-right a {
  height: 100%;
  width: 100%;
  display: block;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.mLUT-film-three section.image-slider .container-fluid .arrow-right a:hover {
  opacity: 0.5;
  cursor: pointer;
}

.mLUT-film-three section.image-slider .container-fluid .text-box {
  position: absolute;
  color: #fff !important;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 16%;
  z-index: 2;
}

.mLUT-film-three section.image-slider .container-fluid .text-box h2 {
  color: #000;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3rem;
  font-family: 'Lora', serif;
  color: #fff;
  font-size: 2.9rem;
  font-weight: 400;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.image-slider .container-fluid .text-box h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.image-slider .container-fluid .text-box h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.mLUT-film-three section.image-slider .container-fluid .text-box p {
  color: #000;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  margin-top: 2rem;
  max-width: 460px;
  margin-left: 16rem;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.image-slider .container-fluid .text-box p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.image-slider .container-fluid .text-box p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.mLUT-film-three section.image-slider .slider-bg {
  width: 100%;
  height: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative;
  overflow: hidden;
  position: absolute;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.mLUT-film-three section.image-slider .slider-bg.s1 {
  background: url("https://s3.motionvfx.com/mvfxpublic/products/templates/1311/media/mlut_one.jpg");
}

.mLUT-film-three section.image-slider .slider-bg.s2 {
  background: url("https://s3.motionvfx.com/mvfxpublic/products/templates/1311/media/mlut_two.jpg");
  opacity: 0;
}

.mLUT-film-three section.image-slider .slider-bg.s3 {
  background: url("https://s3.motionvfx.com/mvfxpublic/products/templates/1311/media/mlut_three.jpg");
  opacity: 0;
}

.mLUT-film-three section.image-slider .slider-navigation {
  width: auto;
  height: auto;
  position: absolute;
  z-index: 2;
  bottom: -3rem;
  right: 12%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 170px 170px 170px;
      grid-template-columns: 170px 170px 170px;
  grid-column-gap: 55px;
}

.mLUT-film-three section.image-slider .slider-navigation .item a {
  color: #666666;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.5;
}

.mLUT-film-three section.image-slider .slider-navigation .activeBorder a {
  opacity: 1;
  text-decoration: underline;
}

@media all and (max-width: 1920px) {
  .mLUT-film-three section.image-slider {
    height: 940px;
  }
}

@media all and (max-width: 1600px) {
  .mLUT-film-three section.image-slider {
    height: 900px;
  }
}

@media all and (max-width: 1440px) {
  .mLUT-film-three section.image-slider {
    height: 760px;
  }
}

@media all and (max-width: 1280px) {
  .mLUT-film-three section.image-slider {
    height: 700px;
  }
  .mLUT-film-three section.image-slider .container-fluid .text-box {
    position: absolute;
    color: #fff !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    max-width: 400px;
  }
  .mLUT-film-three section.image-slider .container-fluid .text-box h2 {
    color: #000;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3rem;
    font-family: 'Lora', serif;
    color: #fff;
    font-size: 2.9rem;
    font-weight: 400;
    text-align: center;
  }
}

@media all and (max-width: 1280px) and (max-width: 1440px) {
  .mLUT-film-three section.image-slider .container-fluid .text-box h2 {
    font-size: 2.2rem;
  }
}

@media all and (max-width: 1280px) and (max-width: 768px) {
  .mLUT-film-three section.image-slider .container-fluid .text-box h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@media all and (max-width: 1280px) {
  .mLUT-film-three section.image-slider .container-fluid .text-box p {
    color: #000;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    margin-top: 2rem;
    max-width: 460px;
    margin-left: 0;
    text-align: center;
  }
}

@media all and (max-width: 1280px) and (max-width: 1440px) {
  .mLUT-film-three section.image-slider .container-fluid .text-box p {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 1280px) and (max-width: 768px) {
  .mLUT-film-three section.image-slider .container-fluid .text-box p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media all and (max-width: 1280px) {
  .mLUT-film-three section.image-slider .slider-navigation {
    bottom: -3rem;
    right: 2%;
  }
}

@media all and (max-width: 768px) {
  .mLUT-film-three section.image-slider .slider-navigation {
    right: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 120px 120px 120px;
        grid-template-columns: 120px 120px 120px;
    grid-column-gap: 55px;
  }
}

@media all and (max-width: 589px) {
  .mLUT-film-three section.image-slider .container-fluid .text-box {
    top: 45%;
  }
  .mLUT-film-three section.image-slider .container-fluid .arrow-left {
    top: 65%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 50%;
    margin-left: -50px;
  }
  .mLUT-film-three section.image-slider .container-fluid .arrow-right {
    top: 65%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 50%;
    margin-right: -50px;
  }
  .mLUT-film-three section.image-slider .slider-navigation {
    width: 100%;
    right: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 55px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mLUT-film-three section.image-slider .slider-navigation a {
    text-align: center;
  }
}

.mLUT-film-three section.section-prevs .container {
  max-width: 1600px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem;
}

.mLUT-film-three section.section-prevs .container h2 {
  color: #000;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3rem;
  font-family: 'Lora', serif;
  margin: 5rem auto 0;
  display: block;
  text-align: center;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.section-prevs .container h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.section-prevs .container h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.mLUT-film-three section.section-prevs .container h5 {
  color: #000;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  color: #666666;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 1.2rem;
  padding-bottom: 4rem;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.section-prevs .container h5 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.section-prevs .container h5 {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media all and (max-width: 768px) {
  .mLUT-film-three section.section-prevs .container {
    max-width: 1600px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem;
  }
  .mLUT-film-three section.section-prevs .container h2 {
    color: #000;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3rem;
    font-family: 'Lora', serif;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}

@media all and (max-width: 768px) and (max-width: 1440px) {
  .mLUT-film-three section.section-prevs .container h2 {
    font-size: 2.2rem;
  }
}

@media all and (max-width: 768px) and (max-width: 768px) {
  .mLUT-film-three section.section-prevs .container h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@media all and (max-width: 768px) {
  .mLUT-film-three section.section-prevs .container h5 {
    color: #000;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    color: #666666;
    margin: 0 auto;
    padding-top: 2rem;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding-bottom: 4rem;
  }
}

@media all and (max-width: 768px) and (max-width: 1440px) {
  .mLUT-film-three section.section-prevs .container h5 {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 768px) and (max-width: 768px) {
  .mLUT-film-three section.section-prevs .container h5 {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.mLUT-film-three section.long {
  width: 100%;
  height: 1250px;
  position: relative;
  overflow: hidden;
}

.mLUT-film-three section.long .paralax-bg {
  width: 100%;
  height: 2100px;
  background: url("https://s3.motionvfx.com/mvfxpublic/products/templates/1305/media/_web_mLUT_paralax_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: -25rem;
  z-index: -1;
}

.mLUT-film-three section.long .container {
  max-width: 1700px;
  padding: 2rem;
  position: relative;
  height: 100%;
}

.mLUT-film-three section.long .container .row .col-left {
  margin-top: 6rem;
}

.mLUT-film-three section.long .container .row .col-left h2 {
  color: #000;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3rem;
  font-family: 'Lora', serif;
  color: #fff;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.long .container .row .col-left h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.long .container .row .col-left h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.mLUT-film-three section.long .container .row .col-right {
  margin-top: 6.2rem;
}

.mLUT-film-three section.long .container .row .col-right p {
  color: #000;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.long .container .row .col-right p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.long .container .row .col-right p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.mLUT-film-three section.long .container .subtitle h2 {
  position: absolute;
  color: #000;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3rem;
  font-family: 'Lora', serif;
  color: #fff;
  bottom: 8rem;
  left: 50%;
  margin-left: 10px;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.long .container .subtitle h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.long .container .subtitle h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@media all and (max-width: 1920px) {
  .mLUT-film-three section.long {
    width: 100%;
    height: 1080px;
  }
  /* .mLUT-film-three section.long .paralax-bg {
    width: 100%;
    height: 1800px;
    background: url("https://s3.motionvfx.com/mvfxpublic/products/templates/1305/media/_web_mLUT_paralax_bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: -22rem;
    z-index: -1;
  } */
  .mLUT-film-three section.long .container {
    max-width: 1500px;
  }
}

@media all and (max-width: 1680px) {
  .mLUT-film-three section.long {
    width: 100%;
    height: 960px;
  }
  .mLUT-film-three section.long .paralax-bg {
    width: 100%;
    height: 1700px;
    background: url("https://s3.motionvfx.com/mvfxpublic/products/templates/1305/media/_web_mLUT_paralax_bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .mLUT-film-three section.long .container {
    max-width: 1500px;
  }
  .mLUT-film-three section.long .container .row .col-left {
    margin-top: 4rem;
  }
  .mLUT-film-three section.long .container .row .col-right {
    margin-top: 4.2rem;
  }
  .mLUT-film-three section.long .container .subtitle h2 {
    bottom: 6rem;
  }
}

@media all and (max-width: 1440px) {
  .mLUT-film-three section.long {
    width: 100%;
  }
  .mLUT-film-three section.long .paralax-bg {
    width: 100%;
    height: 1600px;
    background: url("https://s3.motionvfx.com/mvfxpublic/products/templates/1305/media/_web_mLUT_paralax_bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .mLUT-film-three section.long .container {
    max-width: 1200px;
  }
  .mLUT-film-three section.long .container .row .col-left {
    margin-top: 4.5rem;
  }
  .mLUT-film-three section.long .container .row .col-right {
    margin-top: 4.9rem;
  }
  .mLUT-film-three section.long .container .subtitle h2 {
    bottom: 10rem;
  }
}

@media all and (max-width: 768px) {
  .mLUT-film-three section.long {
    height: 900px;
  }
  .mLUT-film-three section.long .paralax-bg {
    width: 100%;
    height: 1600px;
    background: url("https://s3.motionvfx.com/mvfxpublic/products/templates/1305/media/_web_mLUT_paralax_bg_mobile.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
  }
  .mLUT-film-three section.long .container .row .col-left {
    margin-top: 6rem;
  }
  .mLUT-film-three section.long .container .row .col-right {
    margin-top: 2rem;
  }
  .mLUT-film-three section.long .container .subtitle h2 {
    left: 1.6rem;
    bottom: 4rem;
  }
}

@media all and (max-width: 589px) {
  .mLUT-film-three section.long .container .subtitle h2 {
    left: 1.6rem;
    bottom: 4rem;
    max-width: 300px;
  }
}

.mLUT-film-three section.tutorial {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #fff;
  padding-bottom: 9rem;
}

.mLUT-film-three section.tutorial .container {
  max-width: 1700px;
}

.mLUT-film-three section.tutorial .container h2 {
  padding-top: 8.5rem;
  color: #000;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3rem;
  font-family: 'Lora', serif;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.tutorial .container h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.tutorial .container h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.mLUT-film-three section.tutorial .container h3 {
  color: #000;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  padding-bottom: 5rem;
  padding-top: 1rem;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.tutorial .container h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.tutorial .container h3 {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media all and (max-width: 1920px) {
  .mLUT-film-three section.tutorial {
    padding-bottom: 8rem;
  }
  .mLUT-film-three section.tutorial .container {
    max-width: 1700px;
  }
}

@media all and (max-width: 1680px) {
  .mLUT-film-three section.tutorial .container {
    max-width: 1700px;
  }
  .mLUT-film-three section.tutorial .container h2 {
    padding-top: 8rem;
  }
}

@media all and (max-width: 1360px) {
  .mLUT-film-three section.tutorial {
    padding-bottom: 4rem;
  }
}

@media all and (max-width: 1280px) {
  .mLUT-film-three section.tutorial .container {
    padding: 2rem;
  }
}

@media all and (max-width: 1024px) {
  .mLUT-film-three section.tutorial {
    padding-bottom: 2rem;
  }
  .mLUT-film-three section.tutorial .container {
    max-width: 1700px;
  }
  .mLUT-film-three section.tutorial .container h2 {
    padding-top: 6rem;
    color: #000;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3rem;
    font-family: 'Lora', serif;
    margin: 0 auto;
    text-align: center;
  }
}

@media all and (max-width: 1024px) and (max-width: 1440px) {
  .mLUT-film-three section.tutorial .container h2 {
    font-size: 2.2rem;
  }
}

@media all and (max-width: 1024px) and (max-width: 768px) {
  .mLUT-film-three section.tutorial .container h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@media all and (max-width: 768px) {
  .mLUT-film-three section.tutorial .container {
    max-width: 1700px;
    padding: 2rem;
  }
  .mLUT-film-three section.tutorial .container h2 {
    color: #000;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3rem;
    font-family: 'Lora', serif;
    margin: 0 auto;
    text-align: center;
  }
}

@media all and (max-width: 768px) and (max-width: 1440px) {
  .mLUT-film-three section.tutorial .container h2 {
    font-size: 2.2rem;
  }
}

@media all and (max-width: 768px) and (max-width: 768px) {
  .mLUT-film-three section.tutorial .container h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.mLUT-film-three section.compatible-software .container {
  max-width: 1000px;
}

.mLUT-film-three section.compatible-software .container h2 {
  margin: 0 auto;
  color: #000;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3rem;
  font-family: 'Lora', serif;
  padding-bottom: 4rem;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.compatible-software .container h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.compatible-software .container h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.mLUT-film-three section.compatible-software .container ul {
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.8rem;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.compatible-software .container ul {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.compatible-software .container ul {
    font-size: 1rem;
  }
}

.mLUT-film-three section.compatible-software .container ul li {
  display: block;
  text-align: left;
  padding-top: 0.8rem;
}

.mLUT-film-three section.compatible-software .container ul li span {
  font-weight: 300;
}

.mLUT-film-three section.compatible-software .container .logos-desktop {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  margin-top: 4rem;
}

.mLUT-film-three section.compatible-software .container .logos-mobile {
  display: none;
}

.mLUT-film-three section.compatible-software .container .button-download {
  border: 2px solid #000;
  padding: 0.6rem 3rem;
  border-radius: 0;
  color: #000;
  margin-top: 3rem;
}

.mLUT-film-three section.compatible-software .container .button-download:hover {
  color: #0a71c8;
  border: 2px solid #0a71c8;
}

.mLUT-film-three section.compatible-software .container .small-info {
  color: #000;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.84rem;
  padding-top: 4rem;
  max-width: 740px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.compatible-software .container .small-info {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.compatible-software .container .small-info {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media all and (max-width: 589px) {
  .mLUT-film-three section.compatible-software .container {
    max-width: 1000px;
  }
  .mLUT-film-three section.compatible-software .container .logos-desktop {
    display: none;
  }
  .mLUT-film-three section.compatible-software .container .logos-mobile {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-top: 4rem;
  }
}

.mLUT-film-three section.tech-spec {
  width: 100%;
  height: 600px;
  background: url("https://s3.motionvfx.com/mvfxpublic/products/templates/1311/media/tech_spec_bg.jpg");
  background-position: bottom bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.mLUT-film-three section.tech-spec .tech-spec-info {
  text-align: center;
  max-width: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.mLUT-film-three section.tech-spec .tech-spec-info h2 {
  color: #000;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3rem;
  font-family: 'Lora', serif;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.tech-spec .tech-spec-info h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.tech-spec .tech-spec-info h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.mLUT-film-three section.tech-spec .tech-spec-info table {
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
}

.mLUT-film-three section.tech-spec .tech-spec-info table tr .td-left {
  width: 50%;
  text-align: left;
  padding: 0.7rem 0.7rem 0.7rem 20px;
}

.mLUT-film-three section.tech-spec .tech-spec-info table tr .td-right {
  width: 50%;
  text-align: right;
  padding: 0.5rem 20px 0.5rem 0.5rem;
}

.mLUT-film-three section.tech-spec .tech-spec-info table a {
  color: #000;
  font-weight: 600;
}

.mLUT-film-three section.tech-spec .tech-spec-info table a:hover {
  color: #0a71c8;
  text-decoration: none;
}

@media all and (max-width: 991px) {
  .mLUT-film-three section.tech-spec {
    background-image: none;
  }
}

.mLUT-film-three section.footer {
  z-index: -1;
  width: 100%;
  height: 100vh;
  max-height: 1250px;
  background: #000 url("https://s3.motionvfx.com/mvfxpublic/products/templates/1311/media/footer_bg.jpg");
  background-position: bottom bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.mLUT-film-three section.footer .container .text-box {
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mLUT-film-three section.footer .container .text-box h2 {
  color: #000;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3rem;
  font-family: 'Lora', serif;
  color: #fff;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.footer .container .text-box h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.footer .container .text-box h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.mLUT-film-three section.footer .container .text-box h2 span {
  display: block;
}

.mLUT-film-three section.footer .container .text-box p {
  color: #000;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  max-width: 600px;
  padding-top: 2rem;
  margin: 0 auto;
  line-height: 2rem;
}

@media (max-width: 1440px) {
  .mLUT-film-three section.footer .container .text-box p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .mLUT-film-three section.footer .container .text-box p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.mLUT-film-three section.footer .container .text-box .button-buy {
  margin-top: 4rem;
  font-family: 'Proxima','Roboto', sans-serif;
  color: #fff;
}

@media all and (max-width: 1920px) {
  .mLUT-film-three section.footer {
    height: 1080px;
  }
}

@media all and (max-width: 991px) {
  .mLUT-film-three section.footer {
    width: 100%;
    height: 100vh;
    max-height: 800px;
    background: #19161a url("https://s3.motionvfx.com/mvfxpublic/products/templates/1311/media/footer_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  .mLUT-film-three section.footer .text-box {
    max-width: 300px;
  }
  .mLUT-film-three section.footer .text-box h2 {
    font-size: 2rem !important;
  }
  .mLUT-film-three section.footer .text-box p {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=style.css.map */