.btn {
  padding: 12px 64px;
  &-pink {
    $color-pink: #ff6699;
    background-color: $color-pink;
    text-transform: none;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 64px;
    box-shadow: none !important;
    &:hover {
      background-color: darken($color-pink, 5%);
    }
  }

  &-more {
    color: #fff;
    background-color: #000;
    position: relative;
    font-weight: 700;
    &--2 {
      background-color: #000;
      border-color: #000;
      color: #fff;
      font-family: 'Proxima',sans-serif;
      text-decoration: none;

      line-height: 1.5;

      user-select: none;
      border: 1px solid transparent;

      display: inline-block;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;

      box-shadow: 0 0 18px 0 rgba(0, 0, 0, .35);

      font-size: .7rem;
      text-transform: uppercase;
      border-radius: 2px;
      font-weight: 300;
      padding: .7rem 1.5rem;
      transition: all .5s ease;

      padding-right: 15px;
      min-width: 10rem;

      &:hover {
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, .35);
        color: #fff;
        img {
          margin-left: 10px!important;
          transform: translateX(7px);
        }
      }

      img {
        max-width: 10px;
        width: 10px;
        margin-top: -2px;
        margin-left: 10px!important;
        transform: translateX(0);
        transition: transform .4s ease !important;
        vertical-align: middle;
      }
    }
    &::after {
      content: '→';
      position: absolute;
      right: 40px;
      will-change: transform;
      transform: translateX(0);
      transition: transform .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    &:hover {
      color: #fff;
      &::after {
        transform: translateX(10px);
      }
    }
    &:focus {
      box-shadow: none;
    }
    &--transparent {
      background-color: transparent;
    }
  }
}
