.btn {
  color: #fff;
  // padding: 14px 44px;
  padding: .7rem 1.6rem;
  border-radius: .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #fff;
  }

  .button__icon {
    padding-right: .5em;
    width: 1.75em;
    display: flex;

    svg {
      width: 100%;
    }
  }

  &__fill {
    &--primary {
      color: #fff;
      background-color: $color-link;
      white-space: nowrap;
      will-change: background-color, box-shadow;
      transition:
        background-color .5s ease,
        box-shadow .5s ease;
      background-color: #3d98ff;
      text-align: center;
      box-shadow: 0 0 18px 0 #3d98ff59;
      &:hover {
        color: #fff;
        background-color: #1784ff;
        border-color: #0a7dff;
        box-shadow: 0 0 18px 0 #3d98ff8c;
      }
    }
  }

  &__outline {
    &--light {
      border: 1px solid #fff;
      box-shadow: 0 0 0 1px inset #fff;

    }
  }

  &--windows {
    padding: 14px 22px;
  }

}