button[aria-expanded="true"] {
  .label {
    &-collapsed {
      display: none;
    }
    &-expanded {
      display: block;
    }
  }
  svg {
    transform: rotate(-90deg);
  }
}
button[aria-expanded="false"] {
  .label {
    &-collapsed {
      display: block;
    }
    &-expanded {
      display: none;
    }
  }
}

.btn-collapse {
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  white-space: nowrap;
  background-color: transparent;
  display: flex;
  margin: auto;
  width: 250px;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  border-radius: 0;
  outline: 0;
  margin-top: 0rem;
  text-transform: uppercase;
  &:focus {
    outline: 0;
    border-radius: 0;
  }
  span {
    margin-right: .5em;
  }
  svg {
    position: absolute;
    right: 1em;
    height: 15px;
    transform: rotate(90deg);
  }
}
