section.compatible-software {
  .container {
    max-width: 1000px;
    h2 {
      margin: 0 auto;
      color: #000;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 3rem;
      font-family: 'Lora', serif;
      padding-bottom: 4rem;
    }
    ul {
      color: #000;
      font-weight: 400;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 0.8rem;
      li {
        display: block;
        text-align: left;
        padding-top: 0.8rem;
        span {
          font-weight: 300;
        }
      }
    }
    .logos-desktop {
      display: block;
      margin: 0 auto;
      text-align: center;
      width: 80%;
      margin-top: 4rem;
    }
    .logos-mobile {
      display: none;
    }
    .button-download {
      border: 2px solid #000;
      padding: 0.6rem 3rem;
      border-radius: 0;
      color: #000;
      margin-top: 3rem;
      &:hover {
        color: #0a71c8;
        border: 2px solid #0a71c8;
      }
    }
    .small-info {
      color: #000;
      font-weight: 300;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 0.84rem;
      padding-top: 4rem;
      max-width: 740px;
      margin: 0 auto;
    }
  }
}
@media (max-width: 1440px) {
  section.compatible-software {
    .container {
      h2 {
        font-size: 2.2rem;
      }
      ul {
        font-size: 1.2rem;
      }
      .small-info {
        font-size: 1.2rem;
      }
    }
  }
}
@media (max-width: 768px) {
  section.compatible-software {
    .container {
      h2 {
        font-size: 1.6rem;
        line-height: 2rem;
      }
      ul {
        font-size: 1rem;
      }
      .small-info {
        font-size: 1rem;
        line-height: 1.4rem;
      }
    }
  }
}
@media all and (max-width: 589px) {
  section.compatible-software {
    .container {
      max-width: 1000px;
      .logos-desktop {
        display: none;
      }
      .logos-mobile {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 80%;
        margin-top: 4rem;
      }
    }
  }
}
