.compatible-software {

  &__list {
    padding: 0 3rem;
    // color: #000;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    @media screen and (max-width: 769px) {
      padding: 1rem;
      width: 50%;
      // flex-basis: 50%;
      // margin-left: auto;
      // margin-right: auto;
      // margin-bottom: 0;
      // text-align: center;
      // width: 280px;
    }
    &s {
      margin: 0 auto 3rem auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      // max-width: 900px;
      @media screen and (max-width: 769px) {
        // flex-direction: column;
        flex-wrap: wrap;
      }
    }

    li {
      text-align: left;
      padding-bottom: .5rem;
      display: block;
      line-height: 1.25;
      span {
        font-weight: 300;
      }
      @media screen and (max-width: 769px) {
        // flex-direction: column;
        text-align: center;
      }
    }

  }

  &__title {
    margin: 0 auto;
    // color: #000;
    font-size: 2.2rem;
    // font-weight: 400;
    line-height: 3rem;
    // font-family: 'Lora', serif;
    padding-bottom: 3rem;
  }

  .button-download {
    // border: 2px solid #fff;
    padding: .75rem 1.75rem;
    font-weight: 600;
    // border-radius: 0;
    // color: #000;
    background-color: #4f34a3;
    color: #fff;
    &:hover {
      // color: #0a71c8;
      // border: 2px solid #0a71c8;
    }
  }

  .container {
    max-width: 1280px;
    .logos-images {
      display: block;
      text-align: center;
      width: 80%;
    }
    .logos-images {
      // display: none;
      margin-bottom: 3rem;
    }
    .small-info {
      // color: #000;
      font-weight: 300;
      font-family: 'Roboto Condensed', sans-serif;
      max-width: 50em;
      margin: 0 auto;
      margin-bottom: 3rem;
      @include respond-below(lg) {
        max-width: 35em;
      }
      @media screen and (max-width: 420px) {
        padding: 0 5%;
      }
    }
  }
}
