// @font-face {
//   font-family: Proxima;
//   src: url('/static/fonts/proximanova-bold-webfont.woff2') format('woff2'),
//     url('/static/fonts/proximanova-bold-webfont.woff') format('woff'),
//     url('/static/fonts/proximanova-bold-webfont.ttf') format('truetype');
//   font-weight: 700;
//   font-style: normal;
//   font-display: fallback;
// }
// @font-face {
//   font-family: Proxima;
//   src: url('/static/fonts/proximanova-light-webfont.woff2') format('woff2'),
//     url('/static/fonts/proximanova-light-webfont.woff') format('woff'),
//     url('/static/fonts/proximanova-light-webfont.ttf') format('truetype');
//   font-weight: 300;
//   font-style: normal;
//   font-display: fallback;
// }
// @font-face {
//   font-family: Proxima;
//   src: url('/static/fonts/proximanova-regular-webfont.woff2') format('woff2'),
//     url('/static/fonts/proximanova-regular-webfont.woff') format('woff'),
//     url('/static/fonts/proximanova-regular-webfont.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
//   font-display: fallback;
// }
// @font-face {
//   font-family: Proxima;
//   src: url('/static/fonts/proximanova-semibold-webfont.woff2') format('woff2'),
//     url('/static/fonts/proximanova-semibold-webfont.woff') format('woff'),
//     url('/static/fonts/proximanova-semibold-webfont.ttf') format('truetype');
//   font-weight: 600;
//   font-style: normal;
//   font-display: fallback;
// }

$rem: 20px;

$font-size-title: $rem * 2;
$font-size-sub-title: $rem * 1.2;
$font-size-body: $rem * .9;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 400;
  font-size: $font-size-title;
  line-height: 1;
  margin-bottom: 0;
  span {
    font-size: $font-size-sub-title;
  }
}

b {
  font-weight: 600;
}

main {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 300;
  font-size: $font-size-body;
}

.section {
  padding: 2rem 0;
  @media screen and (max-width : 768px) {
    padding: 4rem 0;
    white-space: unset;
  }

  
  &__header {
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: .85;
  }
  &__subtitle {
    font-size: .65rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  &__display {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  &__text {
    font-size: 1rem;
    margin-bottom: 2.5rem;
    font-weight: 400;
    white-space: pre-line;
    &--inset {
      padding-left: 3rem;
    }
    @media screen and (max-width : 1440px) {
      white-space: unset;
    }
    &__content {
      // padding: 0 10%;
      position: relative;
      z-index: 32;
      @media screen and (max-width: 1440px) {
        padding: 0 10%;
      }
    }
  }
}