// @font-face {
//   font-family: Proxima;
//   src: url('/static/fonts/proximanova-semibold-webfont.woff2') format('woff2'),
//     url('/static/fonts/proximanova-semibold-webfont.woff') format('woff'),
//     url('/static/fonts/proximanova-semibold-webfont.ttf') format('truetype');
//   font-weight: 600;
//   font-style: normal;
//   font-display: fallback;
// }

@font-face {
  font-family: ModeNine;
  src: url('https://s3.motionvfx.com/mvfxpublic/products/templates/1347/media/modenine.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

$rem: 20px;

$font-size-title: $rem * 2;
$font-size-sub-title: $rem * 1.2;
$font-size-body: $rem * .9;

h1,
h2,
h3,
h4,
h5,
h6,
.section__title {
  font-family: 'ModeNine', sans-serif;
  font-weight: 400;
  font-size: $font-size-title;
  line-height: 1;
  margin-bottom: 0;
}

b {
  font-weight: 600;
}

main,
.section__subtitle {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: $font-size-body;
}

.section {
  @media screen and (max-width : 768px) {
    padding: 4rem 0;
    white-space: unset;
  }

  
  &__head {
    margin-bottom: 2rem;
    max-width: 25em;
    margin: auto;
    @media screen and (max-width : 768px) {
      padding: 0 5%;
    }

    .showcase &,
    .tech-spec & {
      @media screen and (max-width : 768px) {
        // max-width: 7em;
        padding: 0;
      }
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    @media screen and (max-width: 1024px) {
      font-size: 30px;
      margin-bottom: 1rem;
    }

    br {
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    .trailer & {
      @media screen and (max-width : 768px) {
        max-width: 7em;
        margin: 0 auto 1rem auto;
      }
    }
  }
  &__subtitle {
    font-size: .65rem;
    // font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 2px;
  }
  &__display {
    font-weight: 700;
    font-size: 4.5rem;
    margin-bottom: 1rem;
  }
  &__text {
    font-size: .9rem;
    margin-bottom: 4.5rem;
    font-weight: 400;
    @media screen and (max-width: 1024px) {
      font-size: 18px;
    }
    &--inset {
      padding-left: 3rem;
    }
    @media screen and (max-width : 1440px) {
      white-space: unset;
    }
    &__content {
      position: relative;
      z-index: 0;
      @media screen and (max-width: 1440px) {
        padding: 0 10%;
      }
    }
  }
}