.footer {
  color: #fff;
  z-index: -1;
  position: relative;
  text-align: center;
  overflow: hidden;

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 420px) {
      padding: 0 5%;
    }
  }

  $text-shadow: 0 0 20px#000;

  &__title {
    margin-bottom: 2rem;
    text-shadow: $text-shadow;
  }

  &__text {
    margin-bottom: 2rem;
    max-width: 500px;
    line-height: 1.7rem;
    text-shadow: $text-shadow;
    @media screen and (max-width: 600px) {
      white-space: normal;
    }
  }
}
