.header {
  max-height: 85vh;
  min-height: 1170px;
  background: rgb(2,0,36);
  background:
    radial-gradient(circle at 17.71% 43.75%, #131918, transparent 26%),radial-gradient(circle at 13.85% 13.22%, #000000, transparent 100%),radial-gradient(circle at 67.24% 61.17%, #1c0e33, transparent 37%),radial-gradient(circle at 93.8% 90.37%, #000000, transparent 100%),radial-gradient(circle at 82.34% 23.67%, #235a75, transparent 100%),radial-gradient(circle at 50% 50%, #000000, #000000 100%);
  &__logo {
    margin-top: 15%;
  }

  &__buttons {
    margin: 3rem 0;
  }

  &__text {
    margin: 0 auto 2rem auto;
    max-width: 20em;
  }

  &__link {
    margin-bottom: 3rem;
  }

  &__promo {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 20px 150px -50px #00000060;
  }
}

.shop__buttons {
  display: flex;
  justify-content: center;
  .btn {
    margin: 0 .5rem;
  }
}
