.header {
  padding-top: $navbar-height;
  background-color: #E5E5E5;
  position: relative;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 23vw);
    background: #000;
    @media screen and (min-width: 1280px) {
      min-height: 1200px;
    }
    @media screen and (max-width: 768px) {
      height: calc(100% - 30vw);
    }
  }

  &__logo {
    margin-top: 15%;
    @media screen and (max-width: 768px) {
      margin-top: 20%;
    }
  }

  &__buttons {
    margin: 3rem 0;
    @media screen and (max-width: 768px) {
      margin: 2rem 0 .5rem 0;
    }
  }

  &__title {
    font-size: 70px;
    margin-bottom: .75rem;
    @media screen and (max-width: 768px) {
      font-size: 50px;
      margin-bottom: .25rem;
    }
  }

  &__subtitle {
    font-size: 23px;
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  &__text {
    margin: 0 auto 2rem auto;
    max-width: 20em;
  }

  &__link {
    margin-bottom: 3rem;
  }

  &__promo {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 20px 150px -50px #00000060;;
    img {
      height: auto;
      border-radius: .2rem;
    }
  }
}

.shop__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & > * {
    flex: 1;
    height: 60px;
  }
  .btn {
    margin: 0 1rem;
    margin-bottom: 1.5rem;
    max-width: 12em;
    min-width: 12em;
  }
}
