.header {
  position: relative;
  margin-top: 3rem;
  padding: 0;
  background: #000;
  margin-top: 60px;

  .image__background {
    height: 100%;
    .img-lazy {
      height: 100%;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 1440px;
    // max-height: calc(100vh - 37px - 4rem);
    max-height: 741px;
    @media screen and (max-height: 450px) {
      max-height: 100vh;
    }
    @media screen and (max-width: 768px) {
      max-height: 100vh;
      padding: 0;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: opacity;
    opacity: 0;
    // transform: scale3d(.95, .95, .95);
    transition:
      opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    .img-lazy {
      height: 100%;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      @include respond-below(lg) {
        object-position: 25% 10%;
      }
    }
  }

  %anim {
  }

  &__logo {
    width: 90%;
    margin-top: 10rem;
    max-width: 750px;
    // margin-bottom: 2rem;
    height: 99px;
    // min-width: 70vw;
    @media screen and (max-width: 768px) {
      margin-top: 10rem;
      margin-bottom: 2rem;
      width: 200px;
    }
    // img {
    //   height: auto;
    //   max-width: 800px;
    //   width: 100%;
    //   // @media screen and (max-width: 768px) {
    //   //   // width: 200px;
    //   // }
    // }
  }

  .dvr {
    max-width: 64px;
  }

  &__subtitle {
    margin-bottom: 3rem;
    @media screen and (max-width: 768px) {
      max-width: 15em;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

$animation-duration: 1s;
.header__logo,
.header__subtitle,
.dvr {
  opacity: 0;
  transform: translateY(20px);
  will-change: opacity, transform;
  transition: transform $animation-duration cubic-bezier(0.3, 0, 0.3, 1),
    opacity $animation-duration linear;
  transition-delay: calc(10ms + (200ms * var(--h-index)));
}

.header.animated-in {
  .header__bg,
  .header__logo,
  .header__subtitle,
  .dvr {
    opacity: 1 !important;
    transform: translateY(0px);
  }
}


// section.header {
//   position: relative;
//   z-index: 1;

//   $min-height: 650px;
//   $min-content-height: 160px; /* set to height of the portion of the first section within which content is comfortably visible */
//   $scroll-prompt-height: 34px;
//   $scroll-prompt-margin-mobile: 14px;
//   $scroll-prompt-height-total: $scroll-prompt-height + 2 * $scroll-prompt-margin-mobile;

//   min-height: $min-height; /* might adjust per plugin */
//   max-height: 860px;
//   height: calc(100vh - #{$min-content-height});
//   @media (max-height: $min-height + $min-content-height) {
//     height: calc(100vh - $scroll-prompt-height-total); /* accomodate scroll prompt */
//     max-height: unset;
//     .scroll-prompt {
//       margin-top: $scroll-prompt-margin-mobile;
//     }
//   }
//   @media (max-height: $min-height + $scroll-prompt-height-total) {
//     height: 100vh;
//     max-height: unset;
//     .scroll-prompt {
//       display: none;
//     }
//   }
//   @media (max-width: 480px) {
//     height: 13 / 9 * 100vw;
//     /* not 100vh to avoid content jump on scroll on mobile Chrome and Firefox */
//   }
// } 