.img-lazy {
  position: relative;
  .placeholder {
    width: 100%;
    height: 100%;
    opacity: 1;
    will-change: opacity;
    transition: opacity .5s ease-in-out;
  }
  img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: opacity;
    transition: opacity .5s ease-in-out;
  }
}
