.link {
  &--primary {
    color: $color-link;
    &:hover {
      text-decoration: none;
      color: $color-link;
    }
  }
  &--yellow {
    color: $color-link-2;
    position: relative;
    display: inline-block;
    &:hover {
      text-decoration: none;
      color: lighten($color-link-2, 10%);
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      width: 100%;
      background-color: $color-link-2;
    }
  }
}
