.logos {
  background-color: #f9f9f9;
  padding: 4rem 0;
  @media screen and (max-width: 420px) {
    padding: 2rem 5%;
  }
  &-images {
    margin: 0 auto;
  }

  &-desktop {
    display: block;
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &-mobile {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  h2 {
    text-align: center;
    padding-bottom: 2rem;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
  }
}

.mLUT-insta-pack {
  .logos {
    padding-top: 6rem;
    @media screen and (max-width: 768px) {
      padding-top: 4rem;
    }
  }
}
