.minstaller {
  &__section {
    padding: 3rem 5% 10rem 5%;
    @media screen and (max-width: 768px) {
      padding: 0 5% 3rem 5%;
    }
  }
  text-align: center;
  &__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: 'Proxima', sans-serif;
    font-weight: 600;
  }

  &__description {
    font-weight: 400;
    max-width: 50%;
    margin: 0 auto;
    max-width: 380px;
  }
}
