.minstaller {
  &__section {
    margin-bottom: 3rem;
    @media screen and (max-width: 420px) {
      padding: 2rem 5%;
    }
  }
  text-align: center;
  &__title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: 'Proxima', sans-serif;
  }

  &__description {
    font-weight: 400;
    max-width: 50%;
    margin: 0 auto;
    max-width: 450px;
    white-space: pre-line;
    @media screen and (max-width: 425px) {
      white-space: unset;
    }
  }
}
