.minstaller {
  &__section {
    padding: 0 5% 6rem 5%;
    @media screen and (max-width: 420px) {
      padding: 0 2% 6rem 2%;
    }
  }
  text-align: center;
  &__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: 'Proxima', sans-serif;
    font-weight: 600;
  }

  &__description {
    font-weight: 400;
    max-width: 50%;
    margin: 0 auto;
    max-width: 400px;
  }
}
