.mocha-info {
  opacity: 0;
  transition: opacity 1s .3s;
  text-transform: uppercase;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ready & {
    opacity: 1 !important;
  }
  // font-family: Oswald;
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: 8%;
  @media screen and (max-width: 500px) {
    bottom: 4%;
  }
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  img {
    width: 2.5rem;
    height: auto;
    margin-top: .7rem;
  }
  // div {
  //   @include tagline;
  //   max-width: 800vw;
  // }
}
