.payment {
  &__list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    &__item {
      margin-right: 1rem;
      svg {
        display: block;
        height: 20px;
      }
      &__icon {
        display: block;
        line-height: 1;
        &.icon {
          &--apple-pay {
          }

          &--paypal {
          }

          &--secure-payment {
            svg {
              margin-top: -3px;
            }
          }
        }
      }
    }
  }
}
