.purchases {
  padding: 15rem 0 13rem 0;
  background: #000;
  position: relative;
  background:
    radial-gradient(
      35% 35% at 35% 40%,
      hsla(253, 100%, 50%, 0.122) 0%,
      hsla(0, 0%, 100%, 0) 100%
    ),
    radial-gradient(
      50% 50% at 40% 50%,
      hsla(223, 100%, 50%, 0.153) 0%,
      hsla(0, 0%, 100%, 0) 100%
    );
  @media screen and (max-width : 768px) {
    padding: 8rem 0 4rem 0;
  }
  @media screen and (min-width : 768px) and (max-width : 1024px) {
    padding: 10rem 0 4rem 0;
  }
  // background-color: lightslategrey !important;

  &__shadow {
    box-shadow: 0 0 300px 40px inset #030200;
    z-index: 31;
    height: 150%;
    @media screen and (max-width : 767px) {
      display: none;
    }
  }

  &__image {
    position: absolute;
    z-index: 0;
    top: 0%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    .tile__wrapper {
      width: 100%;
    }
    &__wrapper {}
    &__item {}
    &__shadow {}

    &--products {
      width: 50%;
      right: 110%;
      top: 25%;
      z-index: 30;

      .purchases {
        &__image {
          &__wrapper {
            &:first-child {
              transform: translate3d(500px, 180px, 410px);
            }
          }
        }
      }
      @media screen and (min-width: 768px) and (max-width: 1440px) {
        right: 70%;
      }
      @media screen and (min-width: 550px) and (max-width : 767px) {
        top: -280px;
        right: 110%;
        padding-bottom: 100%;
        width: 40%;
      }
      @media screen and (min-width: 320px) and (max-width : 550px) {
        top: -110px;
        right: 150%;
      }
    }
    &--projects {
      left: 160%;
      top: 40%;
      z-index: 30;
      .tile__wrapper:nth-child(2) {
        @media screen and (max-width : 1440px) {
          display: none;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 1440px) {
        left: 100%;
        top: 94%;
      }
      @media screen and (max-width : 768px) {
        left: 114%;
        top: 83%;
        width: 100%;
      }
    }

    img {
      width: 100%;
    }
  }
  &__content {
    position: relative;
    z-index: 41;
  }
  &__title {
  }
  &__subtitle {
  }
  &__text {
  }
}

// rotation transform
// rotateX(40deg) rotateZ(-32deg)

.update__bg__matrix__shadow--2 {
  right: unset;
  bottom: unset;
  width: 100%;
  height: 120%;
  z-index: 31;
}
