.scroll-to-btn {
  $color: #000;

  color: $color;
  font-weight: 400;
  margin-top: 60px;
  display: inline-block;
  border: 1px solid $color;
  border-radius: 22px;
  bottom: 0;
  height: 37px;
  margin-left: -11px;
  margin-top: -35px;
  width: 22px;
  position: absolute;
  left: 50%;
  margin-bottom: 1rem;

  @media all and (max-width: 767.98px) {
    margin-bottom: .5rem;
  }

  &:before {
    content: '';
    width: 6px;
    height: 6px;
    background: $color;
    margin-left: -3px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: mouse-scroll;
    position: absolute;
    left: 50%;
    box-sizing: border-box;
  }
}
