.carousel {
  &-inner {
  }
  &-item {
    &.active,
    &-next,
    &-prev {
      z-index: 1;
    }
  }

  &-fade {
    .carousel {
      &-item {
        &.active {
          opacity: 1;
        }
        &-next {
          z-index: 2;
        }
      }
    }
  }
}
