$color-active: lighten($color: #2f75c4, $amount: 10%);
$spacing: 2.25rem;

.carousel {
  $container-rad: .2rem;
  &-progress {
    background-color: #2D71BC;
    border-radius: $container-rad;
    // width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 15;
    transform: scaleX(0);
    
    transform-origin: left;

  }
  &-indicators {
    &__wrapper {
      display: inline-flex;
      flex-direction: column;
      position: relative;
    }
    position: static;
    background-color: #000;
    justify-content: left;
    display: inline-flex;
    padding: 1rem $spacing;
    margin: 1rem 0 0 0;
    border-radius: $container-rad;
    box-shadow: $shadow-4;
    // 0 0 20px #000;

    li {
      position: relative;
      flex: unset;
      height: unset;
      width: unset;
      margin-left: 0;
      margin-right: $spacing;
      text-indent: unset;
      cursor: pointer;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 600;

      &:hover {
        .css-icon {
          &--solid {
            background-image: url('/images/solid_h.png');
          }
          &--pixelate {
            background-image: url('/images/pixel_h.png');
          }
          &--blur {
            background-image: url('/images/blur_h.png');
          }
        }
        p {
          color: $color-active;
        }
      }

      &.active {
        .css-icon {
          &--solid {
            background-image: url('/images/solid_h.png');
          }
          &--pixelate {
            background-image: url('/images/pixel_h.png');
          }
          &--blur {
            background-image: url('/images/blur_h.png');
          }
        }
      }

      .css-icon {

        // background-color: #626262;
        // border: 2px solid lighten($color: #7B7B7B, $amount: 10%);
        width: 32px;
        height: 32px;
        margin-bottom: .6rem;
        border-radius: .1rem;
        &--solid { 
          background-image: url('/images/solid.png');
          background-size: cover;
        }
        &--pixelate {
          background-image: url('/images/pixel.png');
          background-size: cover;
          // position: relative;
          // &::before,
          // &::after {
          //   position: absolute;
          //   content: "";
          //   width: 50%;
          //   height: 50%;
          //   background-color: #444444;
          // }

          // &::before {
          //   top: 0;
          //   left: 0;
          // }
          // &::after {
          //   right: 0;
          //   bottom: 0;
          // }
        }
        &--blur {
          background-image: url('/images/blur.png');
          background-size: cover;
          // border-radius: 50% 50% 50% 5%;
          // transform: translateY(4px) rotate(135deg) scale(.9);
        }
      }

      img {
        margin-bottom: .6rem;
      }

      p {
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: .7rem;
        letter-spacing: 1px;
        line-height: 1.2;
        font-weight: 700;
      }

      &:last-child {
        margin-right: 0;
      }

    }

    // .icon {
    //   width: 32px;
    //   height: 32px;
    // }

    .active {
      background-color: transparent;
      color: $color-active;
    }
  }
  &-inner {
    
  }
  &-item {
    img {
      @media screen and (min-width: 768px) {
        min-height: 600px;
        max-height: 1440px;
        object-fit: cover;
      }
    }
  }
}

.slide {

}
