// .slick-carousel {
//   .slick-slide {
//     img {
//       width: 20vw !important;
//       padding: 2rem;
//     }
//   }
// }

@keyframes anim-e {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.slides {
  &__section {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-top: 10%;
    padding-bottom: 0rem;
    margin-bottom: -1rem;
    width: 110%;
    margin-left: -5%;
    @include respond-below(md) {
      width: 200%;
      margin-left: 0;
    }
    .slide {
      padding: .5rem;
      &:nth-child(1) {
        width: 20%;
        margin-bottom: -20%;
      }
      &:nth-child(2) {
        margin-top: -10%;
        width: 40%;
      }
      &:nth-child(3) {
        width: 38%;

      }
      &:nth-child(4) {
        width: 20%;
        margin-bottom: -25%;
      }
      &:nth-child(5) {
        width: 20%;
        margin-bottom: -17%;
      }

      $uni-size: 1.025;
      will-change: transform;
      transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);

      img {
        animation: slides-anim 5s ease-in-out infinite alternate forwards;
        animation-delay: calc(250ms + (500ms * var(--slide-index)));
      }

      &:hover {
        z-index: 1;
        transform: scale3d($uni-size, $uni-size, $uni-size);
        img {
          transform: translate(0, 0);
          animation-play-state: paused;
        }
      }
    }
  }
}

@keyframes slides-anim {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}