.section__head {
  .word,
  .char {
    display: inline-block;
  }
  &[data-visible='true'] {
    .section {
      &__title {
        .word {
          opacity: 1;
          transform: translateX(0em);
        }
      }
      &__subtitle {
        .word {
          opacity: 1;
          transform: translateX(0em);
        }
      }
      &__text {
        .word {
          opacity: 1;
          transform: translateX(0em);
        }
      }
      &__display {
        .char {
          opacity: 1;
          transform: translateY(0em);
        }
      }
    }
  }

  &[data-visible='false'] {
    .section {
      &__title {
        .word {
          opacity: 0;
          transform: translateX(calc(0.2em * var(--word-index)));
        }
      }
      &__subtitle {
        .word {
          opacity: 0;
          transform: translateX(calc(0.4em * var(--word-index)));
        }
      }
      &__text {
        .word {
          opacity: 0;
          transform: translateX(calc(0.4em * var(--word-index)));
        }
      }
      &__display {
        .char {
          opacity: 0;
          transform: translateY(calc(-0.2em * var(--char-index)));
        }
      }
    }
  }
}

$animation-duration: .5s;

.splitting  {
  .word,
  .char {
    transition: transform $animation-duration cubic-bezier(0.3, 0, 0.3, 1),
      opacity $animation-duration linear;
    transition-delay: calc(10ms + (20ms * var(--word-index)));
  }
}

.bg--full--absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
