.tech-spec {
  padding-top: 4rem;
  padding-bottom: 2rem;

  &__title {
    margin-bottom: 3rem;
  }

  &__table {
    font-weight: 400;
    color: #666;
    width: 100%;
    padding: 0 5%;
    td {
      padding-bottom: 2rem;
      vertical-align: top;
      &:last-child {
        padding-bottom: 0;
      }
    }
    .td-right {
      text-align: right;
      padding-right: 2.5%;
      width: 46%;
    }
    .td-left {
      text-align: left;
      padding-left: 2.5%;
    }
  }

  .tech-spec-info {
    text-align: center;
    position: relative;
    h2 {
      color: #000;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 3rem;
      font-family: 'Lora', serif;
    }
  }
}
