.trailer {
  text-align: center;
  // padding: 5rem 0;
  padding-bottom: 0;
  @media screen and (max-width: 768px) {
    margin-top: 0rem;
  }
  &__text {
    padding: 0 10%;
    @media screen and (max-width: 420px) {
      padding: 0 5%;
    }
  }
  &__title {
    margin-bottom: 2rem;
  }

  &__subtitle {
    max-width: 700px;
    margin: auto;
    margin-bottom: 3rem;
    @media screen and (max-width: 768px) {
        white-space: inherit;
    }
  }
}

.tutorial {
  margin-top: 0;
}