.trailer {
  $trailer-section-padding: 3rem;
  padding: $trailer-section-padding 0 $trailer-section-padding 0;
  text-align: center;
  &__title {
    margin-bottom: 2rem;
  }

  &__subtitle {
    width: 70%;
    max-width: 700px;
    margin: auto;
    margin-bottom: 3rem;
    @media screen and (max-width: 425px) {
      max-width: 90%;
    }
  }
}
