.video {
  text-align: center;
  position: relative;
  // padding-bottom: 0;
  @media screen and (max-width: 768px) {
    margin-top: 0rem;
  }

  .image__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  // &__text {
  //   padding: 0 10%;
  //   @media screen and (max-width: 420px) {
  //     padding: 0 5%;
  //   }
  // }
  // &__title {
  //   margin-bottom: 1.5rem;
  // }

  // &__subtitle {
  //   max-width: 700px;
  //   margin: auto;
  //   margin-bottom: 3rem;
  //   @media screen and (max-width: 768px) {
  //       white-space: inherit;
  //   }
  // }

  &.tutorial {
    // margin-top: 0;
    // margin-bottom: ;
  }
  
  &.trailer {
    padding: calc(37px + (2 * 0.5rem) + 1px + 5rem) 0 7rem 0;
    margin-top: calc((37px + (2 * 0.5rem) + 1px) * -1);
    .embed-responsive-16by9::before {
      padding-top: 273 / 640 * 100%;
    }
  }
}
