.video {
  text-align: center;
  // padding-bottom: 0;
  @media screen and (max-width: 768px) {
    margin-top: 0rem;
  }
  // &__text {
  //   padding: 0 10%;
  //   @media screen and (max-width: 420px) {
  //     padding: 0 5%;
  //   }
  // }
  // &__title {
  //   margin-bottom: 1.5rem;
  // }

  // &__subtitle {
  //   max-width: 700px;
  //   margin: auto;
  //   margin-bottom: 3rem;
  //   @media screen and (max-width: 768px) {
  //       white-space: inherit;
  //   }
  // }

  &.tutorial {
    // margin-top: 0;
  }
  
  &.trailer {
    padding: calc(37px + (2 * 0.5rem) + 1px + 5rem) 0 5rem 0;
    margin-top: calc((37px + (2 * 0.5rem) + 1px) * -1);
  }
}
