-
    var data = {
        header: {
            images: {
                logo: {
                    alt: '',
                    src: '/images/logo.png'
                },
                bg: {
                    alt: '',
                    src: '/images/header.jpg'
                },
                dvr: {
                    alt: '',
                    src: '/images/dvr.png'
                }
            },
            title: 'Cinematic Captions plugin exclusively for DaVinci Resolve'
        },
        trailer: {
            subtitle: 'Watch Trailer',
            title: 'SEE THEM IN ACTION!',
            text: 'Picture true cinematic typography, epic openers and film credits for that professional Hollywood look of your edits.'
        },
        tutorial: {
            subtitle: 'View Tutorial',
            title: 'Get the know-how!',
            text: 'Enhance your edits with detailed callouts and improve your workflow dramatically with a myriad pro tips from our tutorial video.'
        },
        slides: {
            images: [
                {
                    src: '',
                    alt: ''
                },
                {
                    src: '',
                    alt: ''
                },
                {
                    src: '',
                    alt: ''
                },
                {
                    src: '',
                    alt: ''
                },
                {
                    src: '',
                    alt: ''
                }
            ]
        },
        promo: {
            image: {
                src: '/images/promo.jpg',
                alt: ''
            },
            textImage: {
                src: '/images/promo_text.png',
                alt: ''
            },
            subtitle: 'ICONIC MOVIE TITLES WORKING VISUAL WONDERS',
            title: 'FOR A BRAND NEW VIEWING EXPERIENCE',
            text: 'Captivate your viewer’s attention with rich and refined typography on your footage in full 4k resolution! An essential plugin for filmmakers and content creators alike, mTitle Cinematic  features an additional option to let you use extracted tracking data easily.'
        },
        presets: {
            title: 'Cinematic Captions',
            actionText: 'Hover or tap to see preview animations',
            count: 50,
            baseUrl: ''
        },
        footer: {
            image: {
                alt: '',
                src: '/images/footer.jpg'
            },
            title: 'POLISHED TO EVERY LAST DETAIL',
            text: 'Our typography obeys the classic rules of composition to match the iconic look of the movie credits. These exceptional titles will help you get the cinematic look easily and captivate your viewer to the last frame of your footage.'
        }
    }
