-
    var data = {
        header: {
            images: {
                logo: {
                    alt: '',
                    src: '/images/logo.png'
                },
                bg: {
                    alt: '',
                    src: '/images/header.jpg'
                },
                dvr: {
                    alt: '',
                    src: '/images/dvr.png'
                }
            },
            title: '30 Professional cinematic color look-up tables'
        },
        trailer: {
            subtitle: 'Watch Trailer',
            title: 'See them in action!',
            text: 'See mLUT Blockbuster create the magic in a real edit.'
        },
        tutorial: {
            subtitle: 'Watch Tutorial',
            title: 'Learn how!',
            text: 'Learn how to use our LUT packs.'
        },
        promo: {
            image: {
                src: '/images/promo.jpg',
                alt: ''
            },
            contenta: {
              title: "What are 3D LUTs?",
              pa: "A color look-up table is a matrix of data containing information used to change an input range of colors into another one. It converts the hue of each pixel into a counterpart from the source pattern.",
              pb: ""
            },
            contentb: {
              title: "Grade your footage, just like pros do in the largest productions",
              pa: "It doesn’t matter If you’re shooting your footage with a DSLR or professional cameras like Arri, RED, BlackMagic, Sony - our mLut grades will work on your shots perfectly. What is more, you can change presets, adjust them and customize the settings in real-time! You can also import your own .cube files."
            }
        },
        slides: {
            images: [
              {
                src: '/images/villain.jpg',
                alt: 'This is alt',
                title: 'THE VILLAIN',
                subtitle: 'e',
                text: "Boost the atmosphere of your edit and give it a unique feeling of a movie with a strong character.",
                name: 'The Villain'
              },
              {
                src: '/images/city_of_crime.jpg',
                alt: 'This is alt',
                title: 'CITY OF CRIME',
                subtitle: 'e',
                text: "Dim the colors and add some gloomy contrasts to your video, making it a supreme example of the comic-style narration.",
                name: 'City of Crime'
              },
              {
                src: '/images/lucky_fool.jpg',
                alt: 'This is alt',
                title: 'LUCKY FOOL',
                subtitle: 'e',
                text: "Add a subtle touch to the hues and create a fairy-tale feel in your footage. This filmic grading will step up your narrative and engage the viewer.",
                name: 'Lucky fool'
              },
              {
                src: '/images/initiation.jpg',
                alt: 'This is alt',
                title: 'INITIATION',
                subtitle: 'e',
                text: "Truly cinematic grading that will turn your edit into a professional piece of Hollywood production and stun your audience.",
                name: 'Initiation'
              }
            ]
        },
        presets: {
            title: 'Professional cinematic color look-up tables',
            actionText: 'HOOVER ON THUMBNAIL TO SEE BEFORE / AFTER EFFECTS',
            count: 30,
            baseUrl: ''
        },
        footer: {
            image: {
                alt: '',
                src: '/images/footer.jpg'
            },
            title: 'Pro grading done easy',
            text: 'Finish your edits with truly cinematic gradings and entertain your audience with high-quality cinematography. Now, your every video can have a professional Hollywood vibe and stand out from the crowd of ordinary shots.'
        }
    }
