doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title
      | {% if product.productdetails.meta_title %}{{
      | product.productdetails.meta_title }}{% else %}{% trans %}motionVFX -
      | Original Home of Apple Motion Templates and Final Cut Pro X Plugins{%
      | endtrans %}{% endif %}
    link(rel='shortcut icon' href='css/static/images/favicon.png' type='image/png')
    //- FONTS
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    link(href='css/custom_pages_wrap.css' rel="stylesheet" type="text/css")
    link(href='css/bootstrap-4.1.3.min.css' rel="stylesheet" type="text/css")

    link(href='css/menu.css' rel='stylesheet' type="text/css")

    script(src='scripts/jquery-3.4.1.min.js')
    script(src='scripts/bootstrap-4.1.3.bundle.min.js')
    script(src='https://s3.motionvfx.com/mvfxpublic/products/templates/source/media/scroll_to_anchor.js')

    script(src='scripts/beforeafter.js')

    - var mediaRootUrl = '/images'
    - var templateImagesUrl = '/images'

  body
    include includes/submenu.pug
    include includes/navbar.pug
    .top-bar
    main.mLUT-insta-pack
      include includes/header.pug
      .gradient
      include includes/logos.pug
      - var title = "Watch mLUT Insta Pack trailer"
      - var subtitle = "One of our favorite and most used plug-ins just got a follow-up with outstandingly epic captions. Check out how you can easily add that Hollywood feel to your edits."
      - var videoLink = "//player.vimeo.com/video/120034840?title=0&byline=0&portrait=0"
      include includes/trailer.pug
      - var title = "How to use mLUT for FCP?"
      - var subtitle = "Take a peek at these videos and grab some tips and tricks to master your work. Endless possibilities await!"
      - var videoLink = "https://www.youtube.com/embed/9tF-MzNxz4c?rel=0"
      include includes/trailer.pug
      //- include includes/mosaic.pug
      - var title = "Luts preview"
      include includes/prevs.pug
      - var urlBefore = `${mediaRootUrl}/big_before.jpg`
      - var urlAfter = `${mediaRootUrl}/big_after.jpg`
      include includes/prevs-big.pug
      include includes/compatible-software.pug
      include includes/tech-spec.pug
      include includes/minstaller.pug
      include includes/footer.pug

    //- script(src="https://s3.motionvfx.com/mvfxpublic/products/templates/1327/js/aos.js?response-content-type=application/javascript")
