doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style(type="text/css").
      body {
        background: #000;
      }
      .loader {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 101;
        background-color: #000;
        will-change: clip-path;
        transition: clip-path 1s ease-in-out;
        clip-path: inset(0 0 100% 0);
      }

      .loader__text .hero__title{
        margin-top: 24px;
      }

      body.loader--active {
        overflow: hidden;
      }
      body.loader--active .loader {
        clip-path: inset(0);
      }
    title Skyline
    script
      include scripts/loader.js
  body.loader--active
    .loader
      svg(width='0', height='0')
        defs
          clippath#myCurve(clippathunits='objectBoundingBox')
            path(d='M 0,1\
									L 0,0\
									L 1,0\
									L 1,.8\
                  C .81 .7, .81 .9, .66 .9\
                  C .48 .9, .48 1, .33 1\
                  C .15 1, .15 .8, 0 .8\
									Z')
      .loader__text
        .hero
          .hero__title.text-center
            p.tagline.tagline--pre.text-uppercase the
            h1.tagline.tagline--main skyline
    main
      include includes/slider-big.pug
      header.header
        .hero
          .hero__slider
            include includes/kinetic.pug
          .hero__title.text-center
            p.tagline.tagline--pre.text-uppercase the
            h1.tagline.tagline--main skyline
            p.tagline--description
              | Movie-inspired Cinematic Openers
              br
              |               Exclusively for Final Cut Pro
        .header__scroller.text-center
          p.scroller__text.text-uppercase scroll down
          .scroller__wrapper
            .scroller.scroller--animated
              .scroller__progress
      section.section
        .additions.container
          .row
            .col-6.p-0
            .col-6.p-0
              ul.list-inline.m-0
                li.list-inline-item.mr-5.animated(data-direction='top')
                  a.additions__link(href='') watch tutorial
                li.list-inline-item.animated(data-direction='top')
                  a.additions__link(href='') watch trailer
      section.section
        .carousel__wrapper
          .info__wrapper.interactive.animated(data-direction='left')
            .info
              h2.info__text
                span
                  | movie-inspired
                  br
                | Typography
              .info__sub
                | Masterly animated captions allure your viewer with modern motion
                | design and introduce a true filmic atmosphere in your edits.
              .info__video__wrapper
                img.info__video(src="images/video_thumbnail.jpg")
          #slider.slider.animated(data-direction='bottom')
            each val in ['1', '2', '3']
              img(src=`images/slide/slide_${val}.jpg`)

    script(src='/app/scripts/rgbKineticSlider-master/js/libs/imagesLoaded.pkgd.min.js')
    script(src='/app/scripts/rgbKineticSlider-master/js/libs/pixi.min.js')
    script(src='/app/scripts/rgbKineticSlider-master/js/libs/pixi-filters.min.js')
    script(src='/app/scripts/rgbKineticSlider-master/js/libs/TweenMax.min.js')
    script(src='/app/scripts/rgbKineticSlider-master/js/rgbKineticSlider.js')
    script.
      //- // images setup
      const images = [
      "app/images/header/header_bg_1.jpg",
      "app/images/header/header_bg_2.jpg"
      ];
      const e = new rgbKineticSlider({
      slideImages: images, // array of images > must be 1920 x 1080
      //- itemsTitles: texts, // array of titles / subtitles
      backgroundDisplacementSprite: 'app/scripts/rgbKineticSlider-master/img/map-5.jpg', // slide displacement image
      cursorDisplacementSprite: 'app/scripts/rgbKineticSlider-master/img/displace-circle.png', // cursor displacement image
      cursorImgEffect : false, // enable cursor effect
      cursorTextEffect : false, // enable cursor text effect
      cursorScaleIntensity : 0, // cursor effect intensity
      cursorMomentum : 0.14, // lower is slower
      swipe: false, // enable swipe
      swipeDistance : window.innerWidth * 0.4, // swipe distance - ex : 580
      swipeScaleIntensity: 2, // scale intensity during swipping
      slideTransitionDuration : 0.5, // transition duration
      transitionScaleIntensity : 50, // scale intensity during transition
      transitionScaleAmplitude : 50, // scale amplitude during transition
      nav: true, // enable navigation
      navElement: '.main-nav', // set nav class
      imagesRgbEffect : false, // enable img rgb effect
      imagesRgbIntensity : 0.9, // set img rgb intensity
      navImagesRgbIntensity : 80, // set img rgb intensity for regular nav
      textsDisplay : false, // show title
      textsSubTitleDisplay : false, // show subtitles
      textsTiltEffect : false, // enable text tilt
      //- googleFonts : ['Playfair Display:700', 'Roboto:400'], // select google font to use
      buttonMode : true, // enable button mode for title
      textsRgbEffect : false, // enable text rgb effect
      textsRgbIntensity : 0.03, // set text rgb intensity
      navTextsRgbIntensity : 15, // set text rgb intensity for regular nav
      textTitleColor : 'white', // title color
      textTitleSize : 125, // title size
      mobileTextTitleSize : 125, // title size
      textTitleLetterspacing : 3, // title letterspacing
      textSubTitleColor : 'white', // subtitle color ex : 0x000000
      textSubTitleSize : 21, // subtitle size
      mobileTextSubTitleSize : 21, // mobile subtitle size
      textSubTitleLetterspacing : 2, // subtitle letter spacing
      textSubTitleOffsetTop : 90, // subtitle offset top
      mobileTextSubTitleOffsetTop : 90, // mobile subtitle offset top
      });
