.content {
  padding: 15rem 0;
  background-repeat: no-repeat;
  position: relative;
  background: url('/images/network_bg.jpg'); // this needs to be changed
  background-repeat: no-repeat;
  background-size: contain;
  @media screen and (max-width : 768px) {
    padding: 4rem 0;
  }
  @media screen and (min-width : 320px) and (max-width : 768px) {
    padding: 10rem 0;
  }

  &__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    .img-lazy {
      width: 100%;
      max-width: 1280px;
    }
    @media screen and (max-width : 767px) {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      bottom: 38%;
    }
  }

  &__content {
    text-align: center;
    margin-bottom: 20rem;
    @media screen and (max-width : 768px) {
      margin-bottom: 10rem;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__notification {
    &__title-2 {
      margin-bottom: 2rem;
      margin-top: auto;
    }
  }

}

.notification {
  &s {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media screen and (max-width: 768px) {
      padding: 0 10%;
    }
  }
  &__item {
    background-color: #1E1F22;
    border-radius: 4px;
    overflow: hidden;
    font-size: 0.875rem;
    margin-bottom: 20px;
    width: 100%;
    max-width: 460px;
    opacity: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__head {
    background-color: #322E31;
    color: #615E60;
    display: flex;
    padding: 10px;
    font-size: .8em;

  }

  &__icon {
    margin-right: 10px;
    margin-top: -2px;
  }

  &__title {

  }

  &__date {
    margin-left: auto;
  }

  &__body {
    color: #fff;
    padding: 20px 20px 20px 36px;
    @media screen and (max-width: 768px) {
      padding: 10px 20px 10px 36px;
    }
  }

  &__text {
    margin-bottom: 5px;
  }
}
