.interface {
  margin-top: -1px;
  padding-bottom: 0;

  &__image {
    width: 120%;
    margin-left: -10%;
    margin-top: -1.5rem;
    position: relative;
    z-index: 0;
    img {
      border-radius: 6px 6px 0 0;
    }
  }

  .section {
    &__head {
      position: relative;
      z-index: 1;
    }
    &__text {
      margin-bottom: 3rem;
    }
  }
}
