.interface {
  margin-top: -1px;
  padding-bottom: 0;

  &__image {
    width: 130%;
    margin-left: -15%;
    margin-top: -6rem;
    position: relative;
    z-index: 0;
  }

  .section {
    &__head {
      position: relative;
      z-index: 1;
    }
  }
}
