.manage {
  padding: 15rem 0;
  position: relative;
  @media screen and (min-width: 580px) and (max-width: 768px) {
    padding: 60% 0 4rem 0;
  }
  @media screen and (max-width: 580px) {
    padding: 70% 0 4rem 0;
  }
  z-index: 20;
  &__content {
  }

  &__title {
  }

  &__text {
    max-width: 20em;
    &:first-child {
      max-width: 24em;
    }

    &:last-child {
      max-width: 18em;
    }
  }

  &__comp {
    width: 77%;
    height: 100%;

    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0%;
    top: -40%;

    .tile__wrapper {
      width: 100%;
    }

    @media screen and (min-width: 580px) and (max-width: 768px) {
      left: -4%;
      top: -630px;
      width: 40%;
    }

    @media screen and (max-width: 580px) {
      top: -635px;
      width: 50%;
    }

    @media screen and (max-width: 580px) {
      top: -555px;
    }

    .tile__wrapper {
      &:nth-child(1) {
        transform: translate3d(-5%, -41%, 0);
        z-index: 2;
        width: 83%;
      }
      &:nth-child(2) {
        transform: translate3d(80%, 6%, 0);
        z-index: 1;
      }

      &:nth-child(3) {
        transform: translate3d(-42%, 60%, 0);
      }
      &:nth-child(4) {
        transform: translate3d(80%, 135%, 0);
      }
      &:nth-child(5) {
        transform: translate3d(-109%, 431%, 150px);
        z-index: 1;
        width: 35%;
      }
    }
  }
}
