.manage {
  padding: 10rem 0;
  position: relative;
  @media screen and (max-width: 768px) {
    padding: 8rem 0;
  }
  z-index: 20;
  &__content {

  }

  &__title {

  }

  &__text {
    max-width: 20em;
    &:first-child {
      max-width: 24em;
    }

    &:last-child {
      max-width: 18em;
    }
  }

  &__comp {
    width: 120%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: -20%;
    top: -30%;

    @media screen and (max-width: 768px) {
      left: -60%;
      top: -170px;
    }

    img {
      transform-style: preserve-3d;
    }

    .object-3d {
      &:nth-child(1) {
        transform: translate3d(400px, 200px, 400px);
      }
      &:nth-child(2) {
        transform: translate3d(-700px, 200px, 400px);
      }
      &:nth-child(3) {
        transform: translate3d(0px, -200px, 400px);
      }
      &:nth-child(4) {
        transform: translate3d(0px, 0px, -100px);
      }
    }
  }
}
