
.presets {
  // padding: rem 0 3rem 0;
  @media screen and (max-width: 768px) {
    // padding: 1rem 0 3rem 0;
  }

  .section__subtitle {
    margin-bottom: 2.5rem;
  }
}

.product {
  &-grid {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // margin: 0 auto;
    // gap: .35rem 0.5rem;
    // .product {
    //   margin-bottom: 0 !important;
    //   padding: 0 !important;
    // }
    // @media screen and (max-width: 767px) {
    //   grid-template-columns: repeat(2, 1fr);
    //   gap: 0.5rem 0.5rem;
    // }
    // .example__item {
    //   &:nth-last-child(1) {
    //     grid-column: span 2 !important;
    //     grid-row: span 2 !important;
    //     @media screen and (max-width: 767px) {
    //       grid-column: span 1 !important;
    //       grid-row: span 1 !important;
    //     }
    //   }
    //   &:nth-child(3n + 1) {
    //     grid-column: span 2;
    //     grid-row: span 2;
    //     @media screen and (max-width: 767px) {
    //       grid-column: span 1;
    //       grid-row: span 1;
    //     }
    //   }
    // }
  }
}

@media (max-width: 575.98px) {
  .videoList .container.container-lg {
      padding-left: 0;
      padding-right: 0;
  }
}

.videoList .product-grid .product {
  -webkit-animation: fadein .5s ease-out alternate;
  animation: fadein .5s ease-out alternate;
  padding: 0 .5rem .5rem 0;
  @media (max-width: 575.98px) {
    &:nth-child(2n) {
      padding: 0 0 .25rem .25rem;
    }
      margin-bottom: 0px;
  }
}


.collapse:not(.show) {
  @media screen and (min-width: 767px) {
    display: block;
  }
}

.btn-collapse {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.videoList .product-grid .product .product-preview {
  // position: relative;
  background: url('/static/images/logo-white.png') no-repeat 50% transparent;
  // overflow: initial;
}