
.showcase {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  &__2 {
    
  }
  .carousel {
    max-height: 1440px;
  }

  .section {
    &__head {
      margin: 0 0 3rem 0;
    }
  }

}

.case {
  &__item {
    position: relative;
    color: #fff;
    background-color: #000;
    &__qt {
      height: 50%;
    }

    // &--0 {
    //   padding-bottom: 0.4492 * 100%;
    //   img {
    //     position: absolute;
    //     width: 100%;
    //     display: block;
    //   }
    //   @media screen and (max-width: 767px) {
    //     padding-bottom: 0;
    //   }
    //   .case__item {
    //     &__bg,
    //     &__body {
    //       position: absolute;
    //       left: 0;
    //       right: 0;
    //     }
    //     &__body {
    //       justify-content: flex-end;
    //     }
    //     &__bg {
    //       padding-bottom: 0.4492 * 100%;
    //       @media screen and (max-width: 767px) {
    //         position: static;
    //       }
    //     }
    //   }
    // }
    // &--1 {
    //   .case__item__body {
    //     justify-content: flex-start;
    //   }
    // }
    // &__bg {
    //   video {
    //     position: absolute;
    //     width: 100%;
    //     display: block;
    //     opacity: 0;
    //     &.active {
    //       opacity: 1;
    //     }
    //   }
    //   img {
    //     width: 100%;
    //   }
    // }
    &__body {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 2rem;
      display: flex;
      align-items: center;
      @media screen and (max-width: 767px) {
        position: static !important;
      }
      .section {
        &__head {
          max-width: 25em;
          @media screen and (max-width: 768px) {
            margin: 0 0 auto 0;
          }
        }
        &__title {
          // white-space: pre-line;
        }
        &__text {
          margin-bottom: 0;
          @media screen and (max-width: 768px) {
            padding: 0;
          }
        }
      }
    }
  }
}
