
.showcase {
  margin-top: -1px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  &__bg {
    &__deco {
      position: absolute;
      top: 0%;
      left: -120%;
      max-width: 200px;
      @media screen and (max-width: 768px) {
        max-width: 50px;
        top: -50px;
        left: 0;
      }
    }
  }

  .carousel__contents {
    display: flex;
    height: 100%;
    align-items: center;
    // @media screen and (max-width: 768px) {
    //   align-items: flex-start;
    // }
    .carousel-title {
      width: 100%;
      margin: auto;
      bottom: 0;
      right: 0;
    }
    .contents__wrapper {
      // transform: translateY(-25%);
      &--big {
        svg {
          width: 70%;
          @media screen and (max-width: 768px) {
            width: 35%;
          }
        }
      }
    }
    svg {
      width: 55%;
      margin: auto;
      display: block;
      // right: 0;
      // margin: 0 10% 0 auto;
      @media screen and (max-width: 768px) {
        width: 25%;
        transform: translateY(-35%);
      }
    }
    .svg {
      &-artist {

      }
      &-it {
        // width: 100%;
      }
      &-forest {

      }
    }
  }

  &--target {
    .section__body {
      .target {
        @media screen and (max-width: 768px) {
          position: absolute;
          bottom: calc(4rem);
          width: 200%;
        }
      }
    }
  }

  .carousel {
    // max-height: 1000px;
    &-inner {
      img {
        // max-height: 1440px;
        height: 100%;

        object-fit: cover;
      }
    }
  }

  .section {
    &__head {
      margin: 0 0 3rem 0;
    }
  }

}

.case {
  &__item {
    position: relative;
    color: #fff;
    background-color: #000;
    &__qt {
      height: 50%;
    }

    &__bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      @media screen and (max-width: 768px) {
        position: static;
      }

      .carousel {
        &-inner,
        &-item {
          height: 100%;
        }
      }
    }

    &__body {
      z-index: 1;
      padding: 15rem 2rem;
      display: flex;
      align-items: center;
      @media screen and (max-width: 767px) {
        position: static !important;
        padding: 2rem 1rem;
      }
      .section {
        &__head {
          max-width: 25em;
          @media screen and (max-width: 768px) {
            margin: 0 0 auto 0;
          }
        }
        &__body {
          max-width: 70%;
          @media screen and (max-width: 1600px) {
            max-width: 60%;
          }
          @media screen and (max-width: 1200px) {
            max-width: 100%;
            margin-top: 2rem;
          }
          @media screen and (max-width: 768px) {
            margin-top: 0;
          }
          img {
            margin-left: -2.5%;
          }
        }
        &__title {
          // white-space: pre-line;
        }
        &__text {
          margin-bottom: 0;
          @media screen and (max-width: 768px) {
            padding: 0;
          }
        }
      }
    }
  }
}

.img {
  &--main {
    flex: 1;
    max-height: 1440px;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      max-width: unset;
      object-position: right;
    }
  }
}

.image__comp {
  display: flex;
  height: 100%;

  &__side {
    display: flex;
    flex-direction: column;
    padding: 2rem 7rem;
    align-items: center;
    margin: auto;
    // justify-content: space-between;
    .image {
      &__head {
        margin-bottom: 2.5rem;
      }
      &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        img {
          max-width: 50%;
          margin-bottom: 1.5rem;
        }
      }
      &__footer {

      }
    }
  }
}