.store {
  padding: 20rem 0;
  position: relative;
  // z-index: 30;
  @media screen and (max-width : 768px) {
    padding: 4rem 0;
  }
  @media screen and (min-width : 768px) and (max-width : 1024px) {
    padding: 8rem 0;
  }
  &__content {

  }

  &__title {

  }

  &__subtitle {

  }

  .container {
    position: relative;
    z-index: 40;
  }

  &__payment {
    &__list {
      @media screen and (max-width : 768px) {
        justify-content: space-between;
        margin-bottom: 3rem;
      }
      .payment__list__item {
        display: flex;
        @media screen and (max-width : 768px) {
          margin: unset;
        }
      }
    }
  }

  $bs-col-padding: 15px;
  $image-offset: 10%;

  &__promo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: calc(100% + (100vw - 200%) / 2);
    max-width: 1540px;
    .img-lazy {
      width: 100%;
      max-width: 1250px;
      overflow: hidden;
      border-radius: .5rem;
    }
    @media screen and (max-width : 992px) {
      position: relative;
      width: 150%;
      left: calc(5% + 15px);
    }
  }

}
