- var macLink = 'https://storage.googleapis.com/mvfxstorage/mInstaller.dmg'
- var winLink = '#'

.shop__buttons
  a.btn.btn__fill--primary(href=macLink, target="_blank", rel="noopener noreferrer", data-os="mac")
    i.button__icon.icon--apple
      include icon-apple.pug

    |Get for Mac
  a.btn.btn__outline--light.btn--windows(href=winLink, target="_blank", rel="noopener noreferrer", data-os="win")
    i.button__icon.icon--windows
      include icon-windows.pug
    |Get for windows
