.shop__buttons
  a.btn.btn__fill--primary(href="http://google.com", target="_blank", rel="noopener noreferrer")
    i.button__icon.icon--apple
      svg(width='23' height='28' viewbox='0 0 23 28' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M22.2 19.3C21.3 18.8 19.5 17.7 19.5 14.8C19.5 12.4 21.1 11.2 22 10.5L22.6 10L22.2 9.40002C20.4 6.70002 17.3 6.40002 16.3 6.40002C15 6.40002 13.8 6.90002 12.9 7.20002C12.5 7.40002 12 7.60002 11.8 7.60002C11.5 7.60002 10.8 7.40002 10.2 7.10002C9.3 6.80002 8.3 6.40002 7.4 6.40002C5.4 6.40002 0 7.90002 0 15C0 19.5 3.5 28 7.6 28C8.6 28 9.6 27.7 10.4 27.4C11 27.2 11.6 27 12 27C12.9 27 13.4 27.2 14 27.5C14.6 27.8 15.3 28 16.3 28C20.3 28 23 20.7 23 20.3C23 19.7 22.6 19.5 22.2 19.3Z' fill='white')
        path(d='M16.6998 0C14.0998 0 10.9998 3.2 11.4998 6.1C14.1998 6.3 16.7998 3.7 16.6998 0Z' fill='white')

    |Get for Mac
  a.btn.btn__outline--light.btn--windows(href="http://google.com", target="_blank", rel="noopener noreferrer")
    i.button__icon.icon--windows
      svg(width='28' height='27' viewbox='0 0 28 27' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M0 12.2H12.2V1.90002L0 3.50002V12.2Z' fill='white')
        path(d='M14 1.7V12.2H28V0L14 1.7Z' fill='white')
        path(d='M14 24.5L28 26.2V14H14V24.5Z' fill='white')
        path(d='M0 22.7L12.2 24.3V14H0V22.7Z' fill='white')
    |Get for windows

