.shop__buttons
  a.btn.btn__fill--primary(href="http://google.com", target="_blank", rel="noopener noreferrer")
    i.button__icon.icon--apple
      include icon-apple.pug

    |Get for Mac
  a.btn.btn__outline--light.btn--windows(href="http://google.com", target="_blank", rel="noopener noreferrer")
    i.button__icon.icon--windows
      include icon-windows.pug
    |Get for windows
