svg(viewbox='0 0 28 27' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M0 12.2H12.2V1.90002L0 3.50002V12.2Z' fill='white')
  path(d='M14 1.7V12.2H28V0L14 1.7Z' fill='white')
  path(d='M14 24.5L28 26.2V14H14V24.5Z' fill='white')
  path(d='M0 22.7L12.2 24.3V14H0V22.7Z' fill='white')