// Generator: Adobe Illustrator 25.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)
svg#Layer_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 547.7 85.7' style='enable-background:new 0 0 547.7 85.7;' xml:space='preserve')
  style(type='text/css').
    .sta0{fill:#FFFFFF;}
    .sta1{fill:#E31E26;}
  g
    path.sta0(d='M62,23.2c-7.7,0.1-13.4,2.9-17.1,8.4c-3.7-5.4-8.9-8.2-15.5-8.4c-6.6,0.1-11.5,1.9-14.6,5.4v-4.9H0v60.5h14.8\
    V47.9c0-3,0.9-5.6,2.8-7.7c1.9-2.1,4.2-3.1,7.1-3.1c3,0,5.6,1.1,7.8,3.2c2.1,2.1,3.2,4.8,3.2,8v36H50V47.6c0-2.8,1-5.3,3.1-7.4\
    c2.1-2.1,4.5-3.2,7.4-3.2c3.2,0,5.8,1,7.6,3c1.9,2,2.8,4.7,2.8,8.1v36h14.8V48.5c0-5.9-1.1-12.4-5.2-17.4\
    C76.4,26,69.5,23.4,62,23.2z')
    polygon.sta0(points='186,46.7 211.7,46.7 211.7,31.7 186,31.7 186,15.2 232.3,15.2 232.3,1.4 171.9,1.4 171.9,84.2 \
    233.7,84.2 233.7,70.4 186,70.4 	')
    polygon.sta0(points='297.5,56.6 257.4,1.4 245.9,1.4 245.9,84.2 260.4,84.2 260.4,28.3 303,84.2 312.7,84.2 312.7,1.4 \
    297.5,1.4 	')
    path.sta0(d='M385.3,45.7c-0.8-1-1.7-2-2.7-2.9c-5.2-4.8-13.6-8.3-25.2-10.5c-4.8-0.9-8.5-3.1-11-4.6\
    c-2.6-1.5-3.7-3.4-3.7-5.7c0-2.1,0.9-3.9,3.2-5.6c2.3-1.6,5.7-2.5,10.1-2.5c6.4,0.5,11.6,2.4,15.8,5.7c4.1-2.5,12.4-7,12.4-7\
    c-7-7.6-16.3-11.7-28.1-12.3c-8.5,0-15.4,2.3-20.7,7c-5.3,4.7-7.9,10-7.7,16c0.1,5.2,2,9.7,5.9,13.6c3.8,3.9,11.4,7.1,22.7,9.8\
    c3.8,0.9,7,1.8,9.6,2.7c2.9-0.2,5.7-0.7,8.5-1.2c-3.3,1-6.5,1.9-10.1,2.2c2.9,1,5,2,6.4,3c2.6,1.9,3.7,4.3,3.6,7.3\
    c-0.2,3.5-1.6,6.4-4.6,8.5c-3,2.1-8.2,3.2-13.4,3.1c-7.6-0.1-14-3.2-19.3-9L324.6,71c8.2,9.8,18.6,14.7,31.1,14.7\
    c10.1,0,18-2.4,23.7-7.3c5.6-4.9,8.5-11,8.6-18.3c-0.1-5.1-1.7-9.7-4.8-13.8C383.9,46.1,384.6,45.9,385.3,45.7z')
    path.sta0(d='M433.6,0c-11.7,0-20.8,3.8-27.6,11.4c-6.7,7.6-10.1,18-10.1,31.2c0,11.6,3,21.4,9,29.3\
    c6.9,9.2,16.4,13.7,28.6,13.7c11.1,0,20-4,26.7-11.9c6.7-8,10-18.4,10-31.3c0-12.7-3.4-22.9-10.1-30.7C453.4,3.9,444.6,0,433.6,0z\
    M451.5,61.6c-3.8,6.2-9.7,9.3-17.8,9.3c-7.2,0-12.8-2.5-16.8-7.5c-4.1-5-6.1-11.9-6.1-20.7c0-8.7,2-15.6,6.1-20.5\
    c4.1-4.9,9.7-7.4,16.8-7.4c7.1,0,12.6,2.5,16.5,7.4c3.9,4.9,5.9,11.8,5.9,20.5C456,50.4,454.5,56.7,451.5,61.6z')
    path.sta0(d='M532.6,48.7c8.9-4.9,13.4-12.2,13.4-22c0-9.6-4.2-16.9-12.7-21.9c-4-2.3-8.8-3.5-14.2-3.5h-38.1v82.9h13.8\
    V51.7h24l13.4,32.5h15.6L532.6,48.7z M528.9,34.1c-2.1,1.9-5,2.8-8.7,2.8h-25.5V15.2h25.5c3.6,0,6.5,0.9,8.7,2.8\
    c2.1,1.9,3.2,4.8,3.2,8C532.1,29.1,531,32.2,528.9,34.1z')
    path.sta0(d='M131.6,71.9c-15.8,0-23.2-13.5-23.2-29.1c0-15.5,8.9-29.1,24.2-29.1c10.5,0,15.6,5.2,15.6,5.2l12.3-6.9\
    c-7.2-7.4-17.9-12-28.6-12c-22,0-37.7,19.2-37.7,42.8s13.4,42.8,37.7,42.8c13,0,24.5-5.7,31.8-16.1l-11.3-7.1\
    C147.6,68.2,139.1,71.9,131.6,71.9z')
  rect.sta1(x='186' y='28.1' width='294.9' height='29.3')
