//- a.btn.btn-more.btn-more--transparent(href="http://", target="_blank", rel="noopener noreferrer" style=`--text-index: ${2}` data-index=`${index}`)= plugins.button

a(href="/page/minstaller.html" class=`btn btn-more--2 ${moreType}`)= moreText || 'more'
    img(class="enjoy__more-arrow" src="/static/svg/arrow2-right.svg" alt="more")