.pagination.text-center.page-paginator.page-paginator-bottom(data-target="")
  img.pagination-control(src='https://s3.motionvfx.com/mvfxpublic/images/mlut/filmwedding/left_arrow.jpg' alt='', data-prev)
  p.pagination-pointer
  img.pagination-control(src='https://s3.motionvfx.com/mvfxpublic/images/mlut/filmwedding/right_arrow.jpg' alt='', data-next)
