#pagination.text-center.page-paginator.page-paginator-bottom
  img#prevPage(src='https://s3.motionvfx.com/mvfxpublic/images/mlut/filmwedding/left_arrow.jpg' alt='')
  p#paginationPointer.pagination-pointer
  img#nextPage(src='https://s3.motionvfx.com/mvfxpublic/images/mlut/filmwedding/right_arrow.jpg' alt='')