section.compatible-software
  .container
    .row.text-center
      h2 Compatible software
    .row.text-center(style='max-width: 800px; margin: 0 auto')
      .col-lg-4.col-md-12.text-center.compatible
        ul
          li Final Cut Pro X
          li
            span mLUT plugin included
          li Apple Motion 5
          li
            span mLUT plugin included
      .col-lg-4.col-md-12.text-center.compatible
        ul
          li Adobe Premiere CC
          li Adobe After Effects CC
          li Adobe Photoshop
          li NUKE
      .col-lg-4.col-md-12.text-center.compatible
        ul
          li AVID Media Composer
          li DaVinci Resolve
          li Fusion 7
          li
            span ...and many more.
  .container
    .row
      .logos-images.img-fluid
        img.img-fluid.logos-desktop(src='https://s3.motionvfx.com/mvfxpublic/products/templates/1305/media/logos_desktop.png' alt='')
        img.img-fluid.logos-mobile(src='https://s3.motionvfx.com/mvfxpublic/products/templates/1305/media/logos_mobile.png' alt='')
  .container
    .row.text-center.small-info
      | Compatible with LOG and Rec.709 - use mLUT Movie 2 Pack .CUBE files
      | with your favorite video editing and compositing software in post
      | production process or load them up directly into a device that
      | supports them.
    .row.justify-content-center
      a.btn.button-download(href='https://s3.motionvfx.com/mvfxpublic/tutorials/blog/mlut/mLUT_Tutorial.pdf?2' target='_blank') DOWNLOAD MANUAL
