-
  var compatibleSoftware = [
    [
      "Final Cut Pro X",
      "mLUT plugin included",
      "Apple Motion 5",
      "mLUT plugin included",
    ],
    [
      "Adobe Premiere CC",
      "Adobe After Effects CC",
      "Adobe Photoshop",
      "NUKE",
    ],
    [
      "AVID Media Composer",
      "DaVinci Resolve",
      "Fusion 7",
      "...and many more.",
    ]
  ]

section.compatible-software
  .container
    .row.text-center
      h2.compatible-software__title Compatible software
    .row
      .col
        .compatible-software__lists
          each list in compatibleSoftware
            ul.compatible-software__list
              each item in list
                li= item
  .container
    .row
      .col
        .composing-app-logos.composing-app-logos--bottom
          include components/logos.pug

  .container
    .row.text-center.small-info
      | Compatible with LOG and Rec.709 - use mLUT Movie 2 Pack .CUBE files with your favorite video editing and compositing software in post production process or load them up directly into a device that supports them.
    .row.justify-content-center
      a.btn.button-download(href='https://s3.motionvfx.com/mvfxpublic/tutorials/blog/mlut/mLUT_Tutorial.pdf' target='_blank') Download manual
