section.footer.bg--dark.text-center
  //- - var image = `/images/mHUD_footer.jpg`
  //- - var alt = 'Woman in cinematic alley'
  //- include components/image-background.pug
  .container
    .row
      .col-12
        .footer__content.section__text__content
          .section__head
            h2.footer__title.section__title Let's make things interesting!
            p.footer__text.section__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque minus debitis, repellat eos, similique, non rem vero quod laborum numquam a tempore! Fuga praesentium repellendus obcaecati, voluptate maiores aspernatur magnam!
            .button-buy
              | {% with discount_text="INTRO", version=2 %} {% include "product/buy_button.jinja2" %} {% endwith %}
          //- .footer__buttons
          //-   include components/buttons.pug
        //- .footer__promo
        //-   img(src="https://via.placeholder/1920x1080", alt="", srcset="")
          //- - var image = `/images/footer_promo.jpg`
          //- - var alt = 'MOTIONVFX shop interface'
          //- - var imageWidth = '2560'
          //- - var imageHeight = '1460'
          //- include components/image.pug
