section.footer
  .container
    .text-box
      h2 Put a finishing polish on your edit
      p
        | Add a purely aesthetic quality to your videos that will elevate
        | them above average and give them a unique set of cinematic traits.
        | mLUT Film 3 gradings will turn your shots into a Hollywood-level
        | production.
      .button-buy
        | {% with discount_text=&apos;INTRO&apos;, version=2 %} {% include
        | &apos;product/buy_button.jinja2&apos; %} {% endwith %}
