section.footer.bg--dark.text-center
  .container
    .row
      .col-12
        .footer__content.section__text__content
          h2.footer__title Safety first
          p.footer__text Secured direct connection with your MotionVFX account. Browse our store, purchase and download our products and pay without worrying about your privacy and security. Let us take care of that.
          .footer__buttons
            include components/buttons.pug
        .footer__promo
          img(src="/images/footer_promo.jpg", alt="", srcset="")
