-
  var footerSliderItems = [
    {
      src: '/images/footer_1.jpg',
      alt: 'test'
    },
    {
      src: '/images/footer_2.jpg',
      alt: 'test'
    }
  ]

section.footer.bg--dark.text-center
  - var image = `/images/mHUD_footer.jpg`
  - var alt = 'Woman in cinematic alley'
  - var width = '2560'
  - var height = '1150'
  - var sizes = `max-width: 768px, 200vw, 100vw`
  include components/image-background.pug
  //- #slider.slider
    each img, index in footerSliderItems
      if index === 0
        div(class="slider__item active")
      else
        div(class="slider__item active")
        img(src=img.src, alt=img.alt, srcset="")
  .container
    .row
      .col-12
        .footer__content.section__text__content
          .section__head
            h2.footer__title.section__title #{"Elevate your edit's atmosphere"}
            p.footer__text.section__text #{"Building a mysterious climate in your edit has never been easier. Use these transitions to give a special kind of obscurity to your footage and create a climate your audience will never forget!"}
            .button-buy
              | {% with discount_text="INTRO", version=2 %} {% include "product/buy_button.jinja2" %} {% endwith %}
          //- .footer__buttons
          //-   include components/buttons.pug
        //- .footer__promo
        //-   img(src="https://via.placeholder/1920x1080", alt="", srcset="")
          - var image = `/images/footer_promo.jpg`
          - var alt = 'MOTIONVFX shop interface'
          - var imageWidth = '2560'
          - var imageHeight = '1460'
          include components/image.pug
