-
  var footerSliderItems = [
    {
      src: '/images/footer_1.jpg',
      alt: 'test'
    },
    {
      src: '/images/footer_2.jpg',
      alt: 'test'
    }
  ]

section.footer.bg--dark.text-center
  //- - var image = `/images/footer_3.jpg`
  //- - var alt = 'Woman in cinematic alley'
  //- - var width = '2560'
  //- - var height = '1150'
  //- include components/image-background.pug
  .image__background
    - var image = '/images/footer_bg.jpg'
    - var alt = 'City central square with people casually strolling, with censored faces'
    - var imageWidth = '2560'
    - var imageHeight = '1150'
    - var sizes = ''
    include components/image.pug
  .container
    .row
      .col-12
        .footer__content.section__text__content
          .section__head
            h2.footer__title.section__title Deal with trouble areas in seconds
            p.footer__text.section__text mCensor plugin is a maximally simplified, yet tremendously powerful tool for creating and tracking censorship masks in FCP. With just a few simple steps you can set up and track the censoring effect that will follow your target perfectly.
        .button-buy
          | {% with discount_text="INTRO", version=2 %} {% include "product/buy_button.jinja2" %} {% endwith %}
          //- .footer__buttons
          //-   include components/buttons.pug
        //- .footer__promo
        //-   img(src="https://via.placeholder/1920x1080", alt="", srcset="")
          - var image = `/images/footer_promo.jpg`
          - var alt = 'MOTIONVFX shop interface'
          - var imageWidth = '2560'
          - var imageHeight = '1460'
          include components/image.pug
