- var footer = data.footer
- var footerBg = footer.image

section.footer.bg--dark.text-center
  .image__background
    - var image = footerBg.src
    - var alt = footerBg.alt
    - var imageWidth = '2560'
    - var imageHeight = '1150'
    - var sizes = '(max-width: 500px) 200vw'
    include components/image.pug
  .container
    .row
      .col-12
        .footer__content.section__text__content
          .section__head
            h2.footer__title.section__title= footer.title
            p.footer__text.section__text= footer.text
        .button-buy
          | {% with discount_text="INTRO", version=2 %} {% include "product/buy_button.jinja2" %} {% endwith %}
