section.header.bg--dark.text-center
  .container
    .row
      .col-12
        .header__content
          .header__logo
            h1.header__title mInstaller
            p.header_logo__subtitle Your MotionVFX cloud.
          .header__buttons
            include components/buttons.pug
          p.header__text Acess your entire MotionVFX FCP Plugins and Motion Templates collection with a click.
          a.header__link.link--yellow(href="http://google.com", target="_blank", rel="noopener noreferrer") Watch more
          .header__promo
            img(src="https://via.placeholder.com/1920x1080", alt="", srcset="")
