section.header.text--light.text-center
  .header__bg
    //- .video-responsive
    video(controls=false, autoplay, loop, muted, playsinline)
      //- source(src='video-small.mp4' type='video/mp4' media='all and (max-width: 480px)')
      //- source(src='video-small.webm' type='video/webm' media='all and (max-width: 480px)')
      source(src='https://s3.motionvfx.com/mvfxpublic/products/templates/1322/media/Top2.mp4' type='video/mp4')
      //- source(src='video.webm' type='video/webm')
  .container
    .row
      .col-12
        .header__content.section__text__content
          .header__logo
            h1.header__title.section__title(data-splitting) mTransition Fade
            p.header__subtitle Transition your stuff.
          //- .header__buttons
          //-   include components/buttons.pug
          //- p.header__text Acess your entire MotionVFX FCP Plugins and Motion Templates collection with a click.
          //- a.header__link.link--yellow(href="#", rel="noopener noreferrer" onclick="scrollToAnchor('installation');") Watch more
        .header__promo.animated.animation--fade.animation--bottom
          //- - var image = `/images/main_screen.jpg`
          //- - var alt = 'mInstaller promo image'
          //- - var imageWidth = '2560'
          //- - var imageHeight = '1460'
          //- include components/image.pug
          //- img(src="/images/main_screen.jpg", alt="", srcset="" height="720")
