section.header
  .header__image
    - var image = `${mediaRootUrl}/header_bg.jpg`
    - var sizes = '(max-width: 1024px) 1600px, 100vw'
    - var alt = 'Happy couple'
    include components/image-background.pug
  .container
    .header-logo
      - var image = `${mediaRootUrl}/mlut_insta_logo_@2x.png`
      - var alt = 'mLut Insta Pack logo'
      - var imageWidth = '2400'
      - var imageHeight = '1172'
      include components/image.pug
    h1.header-title A Selection Of Insta Color Gradings for FCPX
