section.header.text--light.text-center
  .header__bg
  .container
    .row
      .col-12
        .header__content.section__text__content
          .header__logo
            h1.header__title mInstaller
            p.header__subtitle Your MotionVFX cloud.
          .header__buttons
            include components/buttons.pug
          p.header__text Acess your entire MotionVFX FCP Plugins and Motion Templates collection with a click.
          a.header__link.link--yellow(href="#", rel="noopener noreferrer" onclick="scrollToAnchor('installation');") Watch more
        .header__promo.animated.animation--fade.animation--bottom
          - var image = `/images/main_screen.jpg`
          - var alt = 'mInstaller promo image'
          - var imageWidth = '2560'
          - var imageHeight = '1460'
          include components/image.pug
          //- img(src="/images/main_screen.jpg", alt="", srcset="" height="720")
