section.installation.bg--light.text-center
  .container
    .row
      .col-12
        .installation__content.section__text__content
          h2.installation__title.section__title Installation tutorial
          p.installation__text.section__text= `Acess your entire MotionVFX FCP Plugins \nand Motion Templates collection within a click.`
        .installation__promo
          iframe(src="https://www.youtube.com/embed/GTuK_Ozwidk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="")
