.logos-images
  .logos-desktop
    - var image = `${mediaRootUrl}/software_icons.png`
    - var alt = 'Software logos'
    - var imageWidth = '1680'
    - var imageHeight = '120'
    include components/image.pug
  .logos-mobile
    - var image = `${mediaRootUrl}/software_icons_mobile.png`
    - var alt = 'Software logos'
    - var imageWidth = '770'
    - var imageHeight = '217'
    include components/image.pug
