section.logos
  h2 Works perfectly with any compositing app
  .container
    .row
      .logos-images.img-fluid
        img.img-fluid.logos-desktop(src='https://s3.motionvfx.com/mvfxpublic/products/templates/1305/media/logos_desktop.png' alt='')
        img.img-fluid.logos-mobile(src='https://s3.motionvfx.com/mvfxpublic/products/templates/1305/media/logos_mobile.png' alt='')