.row
  .col-12
    .m-installer
      h2 mInstaller
      p
        | After purchasing, the product is instantly available for download via 
        a(href="https://www.motionvfx.com/page/minstaller.html") mInstaller 
        | or through your account.
