-
  var manageImages = [
    {
      alt: 'test',
      src: 'https://via.placeholder.com/300x100'
    },
    {
      alt: 'test',
      src: 'https://via.placeholder.com/300'
    },
    {
      alt: 'test',
      src: 'https://via.placeholder.com/300'
    },
    {
      alt: 'test',
      src: 'https://via.placeholder.com/300'
    }
  ]

section.manage.bg--light
  .container
    .row
      .col-6
        .manage__content
          h1.manage__title.title--varied
            span Instal, manage, repair<br>
            | One click
          p.manage__text
            | Install directly to Final Cut Pro and Apple Motion. Built-in download resumer.
          p.manage__text
            b Convert 
            | Apple Motion projects 
            b FPS 
            | right inside mInstaller
      .col-6
        .manage__comp
          - var h = 1
          while h < 6
            .tile__wrapper(data-index=h)
              .tile
                img.tile__mesh(src=`/images/mt_0${h}.png` alt='' srcset='')
                //- img.tile__shadow(src=`/images/mt_0${h}_shadow.png` alt='' srcset='')
            <!--#{h++}-->
