-
  var manageImages = [
    {
      image: '/images/mt_01.jpg',
      alt: ''
    },
    {
      image: '/images/mt_02.jpg',
      alt: ''
    },
    {
      image: '/images/mt_03.jpg',
      alt: ''
    },
    {
      image: '/images/mt_04.jpg',
      alt: ''
    },
    {
      image: '/images/mt_05.png',
      alt: ''
    }
  ]

section.manage.bg--light
  .container
    .row
      .col-md-6
        .manage__content.section__text__content
          .section__header
            h1.manage__title.title--varied
              span Instal, manage, repair<br>
              | One click
          p.manage__text
            | Install directly to Final Cut Pro and Apple Motion. Built-in download resumer.
          p.manage__text
            b Convert 
            | Apple Motion projects 
            b FPS 
            | right inside mInstaller
      .col-md-6
        .manage__comp.scene
          each img in manageImages
            .tile__wrapper(data-index=h)
              .tile.object
                .mesh
                  .face-front
                    img(src=img.image alt='' srcset='')
                  //- .face-bottom
                    //- img(src=`/images/update_0${h}.jpg` alt='' srcset='')
                .shadow
