section.minstaller__section
  .container
    .row
      .col
        .minstaller
          h3.minstaller__title mInstaller
          p.minstaller__description After purchasing, the product is instantly avalible for download via mInstaller
