section.minstaller__section
  .container
    .row
      .col
        .minstaller
          h3.minstaller__title mInstaller
          p.minstaller__description After purchasing, the product is 
            b instantly avalible 
            |
            | for download via 
            a(href="https://www.motionvfx.com/page/minstaller.html", target="_blank", rel="noopener noreferrer") mInstaller 
            | or through your account.
