section.minstaller__section
  .container
    .row
      .col
        .minstaller
          h3.minstaller__title mInstaller
          p.minstaller__description After purchasing, the product is 
            b instantly available 
            | for download via 
            a(href="http://", target="_blank", rel="noopener noreferrer") mInstaller
