section.interface.text-center.bg__dark
  .container
    .row
      .col-12
        .section__head
          h2.section__subtitle=placeholders.text.subtitle
          p.section__title=placeholders.text.title
          p.section__text=placeholders.text.lorem
          a.btn.btn--yellow(href="http://", target="_blank", rel="noopener noreferrer") Try demo version
        .section__body.interface__image
          //- ~30% larger than 1280px ~ 1660px
          img(src='https://via.placeholder.com/1920x840', alt="", srcset="")
