section.interface.text-center.bg__dark
  .container
    .row
      .col-12
        .section__head
          h2.section__subtitle Refreshed design
          p.section__title New intuitive interface
          p.section__text for an even better user experience.
          a.btn.btn--yellow(href="http://", target="_blank", rel="noopener noreferrer") Try demo version
        .section__body.interface__image
          //- ~30% larger than 1280px ~ 1660px
          //- 1920x840
          img(src='/images/interface_bg.jpg', alt="", srcset="")
