section.interface.text-center.bg__dark
  .container
    .row
      .col-12
        .section__head
          h2.section__subtitle Refreshed design
          p.section__title New intuitive interface
          p.section__text for an even better user experience.
          a.btn.btn--yellow(href="http://", target="_blank", rel="noopener noreferrer") Try demo version
        .section__body.interface__image
          //- ~30% larger than 1280px ~ 1660px
          //- 1920x840
          - var image = '/images/interface_bg.jpg'
          - var alt = 'mCensor refreshed interface'
          - var imageWidth = '1920'
          - var imageHeight = '840'
          - var sizes = ''
          include components/image.pug
