.loader
  defs
    clippath#myCurve(clippathunits='objectBoundingBox')
      path(d='M 0,1\
            L 0,0\
            L 1,0\
            L 1,.8\
            C .81 .7, .81 .9, .66 .9\
            C .48 .9, .48 1, .33 1\
            C .15 1, .15 .8, 0 .8\
            Z')
  .loader__text
    .hero
      .hero__title.text-center
        p.tagline.tagline--pre.text-uppercase the
        h1.tagline.tagline--main skyline