section.section-prevs
  .container
    .row
      .col
        h2.section-prevs__title #{title}
    .row
      .col
        #pagination.text-center.page-paginator.page-paginator-top
          img#prevPage(src='https://s3.motionvfx.com/mvfxpublic/images/mlut/filmwedding/left_arrow.jpg' alt='')
          h3#paginationPointer
          img#nextPage(src='https://s3.motionvfx.com/mvfxpublic/images/mlut/filmwedding/right_arrow.jpg' alt='')
    #prContainer.row.section-prevs-row.text-center
