section.before-after.big__prev
  .prBeforeAfter
    .ba-slider.big.img-fluid
      - var image = urlAfter
      - var alt = name
      include components/image.pug
      .resize
        - var image = urlBefore
        - var alt = name
        include components/image.pug
      span.handle
        img.big(src='https://s3.motionvfx.com/mvfxpublic/images/mlut/filmwedding/handleBig.png?1' alt='' style='display:block;')
