section.purchases.bg--dark
  .container
    .row
      .col-6
        .purchases__image.purchases__image--products
          img(src="https://via.placeholder.com/300", alt="", sizes="", srcset="")
      .col-6
        .purchases__content
          h2.purchases__title Organized
          p.purchases__subtitle All purchases in one place
          p.purchases__text
            | The easiest way to manage your 
            a(href="http://", target="_blank", rel="noopener noreferrer") downloads 
            | and 
            a(href="http://", target="_blank", rel="noopener noreferrer") licences. 
            | You have unconstrained access to your content across your Macs. 
          p.purchases__text
            | Conviniently switching licences between 
            b different machines, 
            | uninstall plugins and templates, find tutorials and reach our support directly in connection with specific products.
        .purchases__image.purchases__image--projects
          img(src="https://via.placeholder.com/300", alt="", sizes="", srcset="")
