section.purchases.bg--dark
  .container
    .row
      .col-6
        .purchases__image.purchases__image--products
          .scene-3d
            .purchases__image__wrapper.object-3d
              .purchases__image__item.mesh-3d
                img(src="https://via.placeholder.com/1000x1000", alt="", sizes="", srcset="")
              .purchases__image__shadow.shadow-3d
            .purchases__image__wrapper.object-3d
              .purchases__image__item.mesh-3d
                img(src="https://via.placeholder.com/1000x1000", alt="", sizes="", srcset="")
              .purchases__image__shadow.shadow-3d
      .col-6
        .purchases__content
          .section__header
            h2.purchases__title
              | Organized <br>
              span All purchases in one place
          p.purchases__text
            | The easiest way to manage your 
            a(href="http://", target="_blank", rel="noopener noreferrer") downloads 
            | and 
            a(href="http://", target="_blank", rel="noopener noreferrer") licences. 
            | You have unconstrained access to your content across your Macs. 
          p.purchases__text
            | Conviniently switching licences between 
            b different machines, 
            | uninstall plugins and templates, find tutorials and reach our support directly in connection with specific products.
        .purchases__image.purchases__image--projects
          .scene-3d
            .purchases__image__wrapper.object-3d
              .purchases__image__item.mesh-3d
                img(src="https://via.placeholder.com/750x1000", alt="", sizes="", srcset="")
              .purchases__image__shadow.shadow-3d
