section.section
  .carousel__wrapper
    .info__wrapper.interactive.animated(data-direction='left')
      .info
        h2.info__text
          span
            | movie-inspired
            br
          | Typography
        .info__sub
          | Masterly animated captions allure your viewer with modern motion
          | design and introduce a true filmic atmosphere in your edits.
        .info__video__wrapper
          img.info__video(src="images/video_thumbnail.jpg")
    #slider.slider.animated(data-direction='bottom')
      each val in ['1', '2', '3']
        img(src=`images/slide/slide_${val}.jpg`)