section.split-image.bg__dark.text-center
  .section__bg
    - var image = '/images/left_img.jpg'
    - var alt = 'Sport car with censored registration number, application transform controls'
    - var imageWidth = '1280'
    - var imageHeight = '625'
    - var sizes = '50vw'
    include components/image.pug
    - var image = '/images/right_img.jpg'
    - var alt = 'Shoe with censored product label'
    - var imageWidth = '1280'
    - var imageHeight = '625'
    - var sizes = '50vw'
    include components/image.pug
  .container
    .row
      .col-12
        .section__head
          //- h2.section__subtitle 
          p.section__title Plane or object mode
          p.section__text Track the particular object on your video or use Plane Mode to follow flat surfaces such as car plates or billboards.
        .section__body
