- var storeText = "Fast and secure payments for your convenience. \nUse you favourite method. ApplePay, Paypal \n- we've got you covered."

section.store.bg--dark
  .container
    .row
      .col-6
        .store__content
          .section__header
            h2.store__title
              | Built-in store <br>
              span The whole content at your fingertips.
          p.section__text.store__text= storeText
          ul.store__payment__list.payment__list
            li.payment__list__item
              i.payment__list__item__icon.icon--apple-pay
                include ./components/icon-apple-pay.pug
            li.payment__list__item
              i.payment__list__item__icon.icon--paypal
                include ./components/icon-paypal.pug
            li.payment__list__item
              i.payment__list__item__icon.icon--secure-payment
                include ./components/icon-card-secure.pug
      .col-6
        .store__promo
          img(src="/images/store_promo.png", alt="", srcset="")
