section.tech-spec
  a.nav(name='specs')
  .container
    .tech-spec-info
      h2 Technical specification
      table
        tr
          td.td-right Includes
          td.td-left 30 Professional LUTs
        tr
          td.td-right Size
          td.td-left 42 MB
        tr
          td.td-right Music used in trailer
          td.td-left
            a(href='https://www.premiumbeat.com/royalty-free-tracks/rebel-riot?utm_source=partners&utm_medium=link&utm_campaign=2019-partnerships&utm_content=SM-19171' target='_blank')
              | Premiumbeat.com - Rebel Riot
