section.tech-spec
  a.nav(name='specs')
  .container
    .row
      .col-12
        .tech-spec-info
          h2.tech-spec__title Technical specification
          .tech-spec__lists
            ul.tech-spec__list.list-unstyled
              li System
              li Includes
              li Size
              li Music used in trailer
              li Music used in tutorial
            ul.tech-spec__list.list-unstyled
              li Mac OS X 10.10.5(or later)
              li 30 FCPX titles
              li 139.9 MB
              li
                a(href="http://google.com", target="_blank", rel="noopener noreferrer") Premiumbeat.com - Serious Business
              li
                a(href="http://google.com", target="_blank", rel="noopener noreferrer") Premiumbeat.com - Full Potential
