-
  var techSpecData = [
    {
      name: 'Supported software',
      value: 'FCP 10.5'
    },
    {
      name: 'Includes',
      value: 'Over 160 titles for FCP'
    },
    {
      name: 'Size',
      value: '517 MB'
    },
    {
      name: 'Music used in trailer',
      value: {
        title: 'Artlist.io - When I Get There',
        link: 'https://www.premiumbeat.com/royalty-free-tracks/are-u-man-enough'
      }
    },
    {
      name: 'Music used in tutorial',
      value: {
        title: 'Artlist.io - You Are My Sunlight',
        link: 'https://artlist.io/song/2896/by-my-side'
      }
    }
  ]
section.tech-spec
  .tech-spec__bg
    video(autoplay muted loop)
      source(src="/images/hud_linear_techspec.mp4" type="video/mp4")
  .container
    .row
      .col-12
        .tech-spec-info
          .section__text__content
            .section__head
              h2.tech-spec__title.section__title Technical specification
            .ttable.tech-spec__table
              for val in techSpecData
                //- .trow
                .tcell.tlabel= val.name
                .tcell.tdata
                  if val.value.title
                    a(href=val.value.link, target="_blank", rel="noopener noreferrer")= val.value.title
                  else
                    | #{val.value}