section.trailer
  a.nav(name="trailer")
  .container
    h2 Watch trailer
    h3 See mLUT Film 3 do the magic in a real edit.
    .yt.embed-responsive.embed-responsive-16by9(style="width: 90%; left: 5%")
      iframe#ytTrailer(
        src="https://www.youtube.com/embed/-XKxYYjULio?rel=0",
        frameborder="0",
        allow="autoplay; encrypted-media",
        allowfullscreen=""
      )
  .container
    .text-box
    h2 What are 3D LUTs?
    p
      | A color look-up table is a matrix of data containing information
      | used to change an input range of colors into another one. It
      | converts the hue of each pixel into a counterpart from the source
      | pattern.
    p
      | LUTs are widely used in professional image processing
      | applications, e.g. FCPX, Premiere Pro, DaVinci Resolve, Avid Media
      | Composer, SpeedGrade, Motion, Nuke, Photoshop, After Effects,
      | Fusion and many more&mldr;
