section.update.bg--dark.text-center
  .update__bg
  .container
    .row 
      .col-12
        .update__content
          h2.update__title.title--varied
            span Always <br>
            | up to date
          p.update__subtitle Your content's updates done right.
        .update__progress
          .progress__bar__wrapper
            .progress__bar
            .progress__bar__text Synchronizing...
