-
  var updateImagesBg = [
    {
      alt: "",
      src: "/images/update_01.png",
      level: 1
    },
    {
      alt: "",
      src: "/images/update_02.jpg",
      level: 2
    },
    {
      alt: "",
      src: "/images/update_03.jpg",
      level: 6
    },
    {
      alt: "",
      src: "/images/update_04.jpg",
      level: 2
    },
    {
      alt: "",
      src: "/images/update_05.jpg",
      level: 6
    },
    {
      alt: "",
      src: "/images/update_06.png",
      level: 1
    }
  ]

section.update.bg--dark.text-center
  .update__bg.bg--full--absolute
    .update__bg__matrix__shadow.bg--full--absolute
    .update__bg__matrix__shadow.update__bg__matrix__shadow--2.bg--full--absolute
    canvas#glowingBinaryMatrix.update__bg__matrix
    #parallax.update__bg__items
      each image in updateImagesBg
        .update__bg__item__wrapper.animated.animation--fade.animation--bottom(data-level=image.level)
          img.update__bg__item(src=image.src, alt=image.alt)
  .container
    .row 
      .col-12
        .update__content
          h2.update__title.title--varied
            span Always <br>
            | up to date
          p.update__subtitle Your content's updates done right.
        .update__progress
          .progress__bar__wrapper
            .progress__bar
              .progress__bar__fill
            .progress__bar__text(data-text-end="All set up") Synchronizing...
